[2015-02-11 09:39] tessi opened #1 "color the ticket-select and the action-select differently"
currently, both choices look very similar. would be cool (for muscle memory) to color the different types of choices (which ticket; which action (branch-name or commit-msg)) differently.

![screen shot 2015-02-11 at 10 35 05](https://cloud.githubusercontent.com/assets/206108/6144624/0fac6e4a-b1da-11e4-8524-e56cadfd51c7.png)
![screen shot 2015-02-11 at 10 35 17](https://cloud.githubusercontent.com/

[2015-02-18 15:23] tessi opened #2 "does not work when opening a single ticket"
In pivotal, I can open a single ticket. The extension does not work in that case.

![screen shot 2015-02-18 at 16 19 23](https://cloud.githubusercontent.com/assets/206108/6249863/72095b60-b78a-11e4-8258-2e9e7545881a.png)

[2015-02-19 19:00] #2 closed, assigned to nobody

[2015-03-05 09:58] rin opened #3 "how about we make this public?"

[2015-03-15 13:23] #3 closed, assigned to nobody

[2015-03-15 13:45] #1 closed, assigned to nobody

[2016-03-08 12:58] PragTob opened #4 "Change branch naming scheme to "#{title}-#{number}""
It'd be great if we could change the naming scheme for branches to be `feature/some-title-i-can-remember-1337` so that auto complete features of the non "oh my zsh" users can be used to auto complete branch names.

I.e. I can often remember ticket names I'm working on/guess them but never the ticket number :)

I think @pmeinhardt also was in favor of this change.

Thanks!
Tobi

[2016-03-08 13:03] bitboxer commented on #4
Discussed this with chris. We are against chainging this just for the autocomplete. You should install `fzf` to checkout a branch instead. That helps you with your autocomplete issue :wink:

[2016-03-08 13:03] #4 closed

[2016-03-08 13:05] pmeinhardt commented on #4
Noooo… :disappointed:

[2016-03-29 14:22] SonniesEdge opened #5 "Any HTML in a ticket title is rendered in tickety-tick pop-up <li>"
For example:

`flex__items as <li>s`

is rendered as:

![screen shot 2016-03-29 at 16 21 07](https://cloud.githubusercontent.com/assets/41983/14111252/4e11ccb8-f5ca-11e5-9b8f-d90f1b2f11ce.png)

[2016-03-29 17:06] #5 closed

[2016-04-04 09:47] pmeinhardt opened #6 "Support auto-updating"
Hey, installed Tickety Tick as a Chrome/Chromium Extension and just found out it's not automatically updated. I had to manually uninstall the old and install the new version.

Maybe we could enable auto-updating?

Infos for Chrome: https://developer.chrome.com/extensions/autoupdate

Cheers

[2016-04-04 10:09] bitboxer commented on #6
That is strange, it should have done so, quoting the site you linked:

:cry:

[2016-04-04 10:14] pmeinhardt commented on #6
Huh? Could it be me using Chromium and not Google Chrome then?

[2016-04-18 15:35] pmeinhardt opened #7 "Get rid of bower?"
Currently, `jquery` and `bowser` are installed through Bower. However they're also available via `npm`. This could mean removing Bower as a dependency altogether.

[2016-04-18 15:38] bitboxer commented on #7
Yes, you are right. I could remove that 👍

[2016-04-18 15:38] bitboxer commented on #6
Will close this now. If it happens again, we need to investigate.

[2016-04-18 15:38] #6 closed

[2016-05-06 10:29] pmeinhardt opened #9 "Set up linting"
Currently, tickety-tick code is not checked in any way which may lead to small errors crawling in. Errors that could easily be prevented by at least running a linter on tickety-tick sources.

For an example of what I'm talking about, see the changes from PR #8.

[2016-05-18 08:51] andreasknoepfle opened #11 "Additional #-character when directly viewing an issue on pivotal."
![image](https://cloud.githubusercontent.com/assets/239398/15352816/559e5274-1ce6-11e6-8b41-cc703aa895b5.png)

When you use the direct URL to an issue on pivotal, instead of viewing all issue in the issue list, tickety-tick produces an extra '#'.

[2016-06-08 08:20] andreasknoepfle opened #12 "Bugs/Chores are not recognized as such in JIRA/Atlassian"
Somehow in JIRA every generated branch seems to start with `feature/ ` no matter if its a feature, a bug or a chore ticket.
(can be reproduced in Chrome and Firefox)

[2016-09-06 06:44] pmeinhardt commented on #7
Closing in favour of #13.

[2016-09-06 06:44] #7 closed

[2016-09-06 06:44] pmeinhardt commented on #9
Closing in favour of #13.

[2016-09-06 06:44] #9 closed

[2016-09-15 15:49] pmeinhardt opened #14 "Extract jQuery/remove it"
Mozilla review sent the following message:

[2016-09-15 19:40] bitboxer opened #15 "problems when installing the extension in chrome"
Sadly the zip file that is created in the dist directory does not include the images and chrome complains when installing it:

<img width="663" alt="bildschirmfoto 2016-09-15 um 21 35 16" src="https://cloud.githubusercontent.com/assets/56195/18564632/ae5b94f8-7b8c-11e6-9f0c-691d053e236e.png">

[2016-09-15 21:10] bitboxer opened #17 "Create source zip for mozilla"
Mozilla needs a source zip file that I upload to show them that this code is okay, even if it is minified 😉

[2016-09-15 23:24] pmeinhardt commented on #17
Can you just use one of these?

1. https://github.com/bitcrowd/tickety-tick/archive/master.zip, or
2. https://github.com/bitcrowd/tickety-tick/releases

[2016-09-15 23:24] pmeinhardt commented on #14
May not be needed depending on the outcome of #17

[2016-09-15 23:27] #15 closed

[2016-09-15 23:31] pmeinhardt commented on #11
Could you check whether this issue still exists in the new version (1.0.1) once released? 😃

[2016-09-16 05:12] bitboxer commented on #17
Ah, yes. Thanks!

[2016-09-16 05:13] #17 closed

[2016-09-16 05:13] bitboxer commented on #14
Nope, this is a separate request by the reviewer. You saldy need to do this.

[2016-09-16 05:17] bitboxer opened #18 "Opera: warning about missing permisisons"
When uploading to opera I got this message:

[code]

[2016-09-16 05:22] bitboxer commented on #18
See details for permissions here: https://developer.chrome.com/extensions/permissions

[2016-09-16 05:41] bitboxer commented on #11
I can confirm that this is is fixed now. Closing the ticket.

[2016-09-16 05:41] #11 closed

[2016-09-16 05:41] bitboxer commented on #12
This still happens in 1.0.1

[2016-09-16 07:14] pmeinhardt commented on #11
Yippieh.

[2016-09-16 07:20] #18 closed

[2016-09-16 08:44] pmeinhardt opened #20 "Make branch names include the ticket ID"

[2016-09-16 09:07] andreasknoepfle opened #22 "tabIndex on first item"
It would be super helpful if the tabIndex would be set to highlight the first tickets branch generation button / commit message button, whatever comes first in the layout, since you can set an extension shortcut in chrome to open tickety-tick.

[2016-09-16 09:07] andreasknoepfle commented on #22
![screen shot 2016-09-16 at 11 07 25](https://cloud.githubusercontent.com/assets/239398/18580774/c8218fb6-7bfd-11e6-90e2-63bc9e489ad0.png)

for now it points on Info

[2016-09-16 09:56] #20 closed

[2016-09-16 10:09] bitboxer opened #23 "Add more tests for src/common/popup/utils/format.js"
We need more tests for the `format.js` . We have to make sure the branch names stay consistent through different versions and refactorings.

[2016-09-16 10:14] pmeinhardt commented on #14
I wonder what would happen if we included Zepto instead of jQuery 😆

[2016-09-16 10:17] bitboxer commented on #14
And the reviewer never mentioned react or some of the other dependencies 🎯 . But we do as they wish to get this released quickly.

[2016-09-16 10:19] pmeinhardt commented on #14
Yep, was just kidding. Working on it

[2016-09-16 12:36] pmeinhardt commented on #14
Hey @bitboxer, extracted jQuery which is now copied into the extension directory from the npm directory (`./node_modules/jquery/dist/jquery.js`). I assign `window.$$$ = $.noConflict(true);` in the `content.js` script now that jQuery is global, to avoid clashes with existing jQuery instances in the content page. The Safari code is also updated accordingly.

Can you have another look at it? Maybe pr

[2016-09-16 16:04] #14 closed

[2016-09-16 16:04] #22 closed

[2016-09-17 07:48] bitboxer opened #26 "Add support for gitlab"

[2016-09-17 07:55] bitboxer commented on #26
Hint: gitlab can be self hosted. We check only by html content, not via url

[2016-09-20 05:42] tessi opened #27 "It can't find tickets on github"
I've updated to the latest available tickety-tick version (=1.0.2) recently via the chrome extension store. Since then it does not find github issues.

I'm not sure if it is the:
* tickety update or
* the new github issues

I'm running Chrome Version 52.0.2743.116 (64-bit) on an up-to-date MacOS.

Since I'm not familiar with tickety-tick (nor react, nor chrome extensions), can you give me some poi

[2016-09-20 05:44] tessi commented on #27
Ok, I'm not sure what happened (maybe it was a page reload missing?), but now it finds the ticket on a ticket's show-page. The github issues page (where we have a list of many tickets) still does not show tickets in tickety-tick.

[2016-09-20 05:45] bitboxer commented on #27
Strangely it works on my chrome, but not on my firefox. Something is odd here.

[2016-09-20 05:45] bitboxer commented on #27
@pmeinhardt to the rescue 👍

[2016-09-20 08:52] pmeinhardt commented on #27
Hey @tessi, thanks for reporting this.

I quickly checked with Chrome 53.0.2785.116 (64-bit) (which I had already installed) and the show pages work as expected for me (maybe you can come grab me when you find the time to look into this on your machine).

On the issues index page (list) you'll need to select the issues you'd like to show up. This is so it's consistent with the behaviour in Pivotal

[2016-09-20 09:00] tessi commented on #27
@pmeinhardt thanks for coming over. consider my issue as closed (i'm not sure what bodo reported, so i'll leave this open for now).

[2016-09-20 09:05] tessi opened #28 "List tickets when multiple issues are on the page"
On the github issue_s_ page (and probably also on other issue trackers) I expect tickety-tick to show me a list of all currently shown tickets, when I click on the extension. Instead it says, that it could not find any tickets.

@pmeinhardt just told me, I can select (check that checkbox) tickets, which are then shown in tickety-tick.

What I expect is that all tickets are shown in tickety-tick wh

[2016-09-20 09:26] pmeinhardt commented on #26
Cool, I'd say go ahead and give it a shot, see whether the new adapter-API provides everything you need 😃 Let me know if I can be of help.

[2016-09-20 09:28] pmeinhardt commented on #28
I quite like @tessi's idea! To me it would make a lot of sense. What about other TT users? @bitboxer, @andreasknoepfle, …?

[2016-09-20 09:45] bitboxer commented on #28
this could be a really long list of tickets...but why not

[2016-09-20 10:14] bitboxer commented on #27
I reinstalled the plugin on my firefox, now it works. Closing this one.

[2016-09-20 10:14] #27 closed

[2016-09-20 20:33] tessi commented on #28
I don't know about the others (the jira list of tickets can be quite long), but at least what i see on github is ~20ish tickets. that should be manageable :)

might be good for time reporting ("i've done those tickets this week" -- copy all commit messages and paste them to the client)

[2016-09-20 20:50] bitboxer commented on #28
Yes, but we should not do different behavior per ticket system :wink:

[2016-09-21 08:57] pmeinhardt opened #29 "Remove `"dist/jquery.map"` from `manifest.json` (`web_accessible_resources`)"

[2016-09-21 09:33] andreasknoepfle commented on #28
how about we just take the first 10 or so that we see on that page and add show more button :)

[2016-09-22 14:09] pmeinhardt commented on #29
This was already fixed in f0c4cc1397ec9911cff56424f032cfebbe5a7711 (on master by now).

[2016-09-22 14:09] #29 closed

[2016-09-26 10:00] #26 closed

[2016-09-27 14:05] pmeinhardt commented on #12
Done, via #32

[2016-09-27 14:05] #12 closed

[2016-09-27 14:06] pmeinhardt commented on #12
Nice work @weiland

[2016-09-27 14:06] pmeinhardt commented on #23
Done, via #33. Nice work @weiland

[2016-09-27 14:06] #23 closed

[2016-09-28 09:16] PragTob opened #34 "CLI command to generate commit message from branch name"
When working with tickety-tick and I want to commit my changes I have to break out of my working context (IDE + console), go to the issue tracker, and click 2 times.

What could be a better solution (imo) would be that there was a CLI command to create a commit message from the branch name (all necessary informaion should be there).

e.g.

[code]

no idea if there should be some gem/npm package to

[2016-09-28 09:34] bitboxer commented on #34
I also thought of this, but it will be a bit harder to implement. Basically we need to store the original story name somewhere with its id to make this possible. We can't calculate that back from the branch name. Alternatively we need to ask the api of the ticket system for this information.

Sadly we can't communicate from the command line with the extension running in the browser (well, with the

[2016-09-29 23:02] pmeinhardt commented on #34
One thing that comes to mind is: https://github.com/nvie/gitflow

While this creates feature/bug/chore… branches, it - however - does not integrate with any ticket tracking system (plus it's been inactive for 4 years now).

For this to work, you'd really need a per-project (git) config containing a tracker specifier, project id and personal API access token:

- This one looks like it could work ni

[2016-09-29 23:07] pmeinhardt commented on #34
**A crazy thought**: How about building a ticket tracking extension into git? So that when you check out a repo, at the same time you check out issues/tickets… and they're updated/synchronized with your peers whenever you pull/push. I'll need to think about this a little.

[2016-09-30 10:45] andreasknoepfle commented on #34
can't we just assure, that we only generate commit/branch -names that can be inferred from each other ? like this a simple tool without any api could do the job :)

[2016-09-30 12:48] pmeinhardt commented on #34
How about: The browser extension lets you copy just the story details as some value that's easy to copy paste (e.g. JSON encoded as hex), and then you have a tick command for creating the branch from that and the commit.

To illustrate:

Assume a story that the browser extension extracts as:

[code]

when you copy it from the extension (extra button?), you copy this:

[code]

which you pass to…

[

[2016-09-30 12:50] bitboxer commented on #34
Yes, that could work. And I am pretty sure with a bit of compression foo we can get the code even shorter.

[2016-09-30 16:54] pmeinhardt commented on #34
Iterating… Could be slightly nicer if the extension button would just let you copy the complete branching command like this:

[code]

…so that you can immediately paste and run it from your terminal.

[2016-10-02 16:31] bitboxer commented on #34
Yes, that totally makes sense to me. @PragTob what do you think?

[2016-10-03 16:16] tessi opened #35 "List github-project tickets"
Github recently introduced a project (canban-borad) feature. On the project page, I'd like to use tickety-tick too.

As far as I know, it is not possible to select a single ticket. But a ticket list should be available.

<img width="1038" alt="screen shot 2016-10-03 at 18 14 56" src="https://cloud.githubusercontent.com/assets/206108/19044607/57cb706a-8995-11e6-99ce-a768a3b250b9.png">

For example

[2016-10-04 08:31] tessi commented on #34
Given that the usual github-workflow allows us to squash commits before merging, I have another crazy idea, which allows us to set-and-forget the branch name and commit message without writing a CLI tool.

We could have a special button which copies the following two commands:

[code]

Pasting this in a terminal would create the feature branch (given we started at `master`, or wherever we wanted t

[2016-10-04 17:36] bitboxer commented on #34
This is a really simple solution to the problem. @pmeinhardt what do you think?

[2016-10-04 20:26] pmeinhardt commented on #34
Yep, absolutely. I love how the solution got more and more simple over the various iterations and I think @tessi's solution is really great! 🤘🤘

The two commands should probably be joined with `&&`, so it is a single line that gets copy-pasted and users "commit" these commands by hitting enter (as opposed to copy-pasting two lines which would cause the first one to be run immediately). But that's

[2016-10-05 12:36] tessi commented on #34
👍  for pauls comment. In addidtion to that we probably want to escape certain characters (e.g. `"` in the generated commit message, whitespace in the branch name, exclamation marks, ...)

[2016-10-07 12:12] pmeinhardt opened #37 "Test evil issue title \$USER'; echo "pwned""

[2016-10-11 13:02] pmeinhardt opened #41 "Improve code coverage"
In particular, test `src/common/popup/render.jsx`.

See comments in #39 as well.

[2016-10-11 13:07] pmeinhardt commented on #34
Closing, see PR #36.

[2016-10-11 13:07] #34 closed

[2016-10-11 13:07] #37 closed

[2016-10-11 13:09] pmeinhardt opened #42 "New release with CLI command generation"
Maybe it's a nice idea to publish a new release with the changes from https://github.com/bitcrowd/tickety-tick/pull/36. I bet a few people would be happy to see this feature.

[2016-10-11 13:36] bitboxer commented on #42
Released for Chrome.

[2016-10-11 13:36] #42 closed

[2016-10-12 06:13] bitboxer opened #43 "Trying out yarn?"
This project might be an ideal test case to try out yarn. Anyone here want to try that?

@pmeinhardt @weiland ?

[2016-10-12 07:27] pmeinhardt commented on #43
I'd be interested in giving yarn a spin. Since they only just made it public though, you can see issues being opened by the minute… I think we could give it an early try on a separate branch to see how well it behaves and then take another serious look in a couple of weeks to check whether things have stabilized and decide whether we want to use it instead of npm in new projects. (And yes, I know,

[2016-10-12 07:32] bitboxer commented on #43
Sounds like a plan 👍

[2016-10-12 07:34] pmeinhardt commented on #43
It is probably worth also testing it on a server-side project to check for potential issues in an environment that's different from our development machines.

[2016-10-12 09:53] weiland commented on #43
We should definitely give it a try! 🎉

[2016-10-17 09:43] weiland commented on #35
I think we have to display all tickets from all lists for this.

[2016-10-17 12:36] tessi opened #44 "Tickety is 'having' "problems" with correctly escaping 'quotes'"
When using the new shell-command button, tickety does not correctly escape quotes. For example, the shell command for this issue is:

[code]

Only the first `'` is escaped.

The expected (commit-part of the) command is:
[code]

[2016-10-17 12:40] bitboxer commented on #44
@tessi can you add the correct escaping ? That way our lovely js people can write a testcase for this and have a nice exaple

[2016-10-17 12:45] tessi commented on #44
sure, i've updated the description accordingly

[2016-10-18 20:09] #44 closed

[2016-10-31 14:35] pmeinhardt opened #46 "Doesn't build on Windows (Mozilla Release)"
The Mozilla guys seem to build on different platforms and of course Windows chokes on Unix-style environment variables on the command-line:

![](http://i.imgur.com/w3qv9LP.png)

We can probably use something like [cross-env](https://www.npmjs.com/package/cross-env) to mitigate this issue (hoping that this is the only thing interfering with builds on Windows).

cc: @bitboxer

[2016-11-29 07:21] pmeinhardt commented on #43
Closing, see PR #48.

[2016-11-29 07:21] #43 closed

[2016-11-29 21:05] pmeinhardt commented on #46
Closing with regard to PR #47 (merged). We can reopen this issue, if there are still problems with building on Windows.

[2016-11-29 21:05] #46 closed

[2017-03-24 10:16] PragTob opened #50 "New Firefox release?"
The firefox release is still [version 0.1.4](https://addons.mozilla.org/de/firefox/addon/tickety-tick/) and not the new fancy versions, which starts to get problematic as part of the branch name generation seems to have changed (the branch in newer versions seems to contain capital letters, while mine only has lower case letters) :)

Thanks!

[2017-03-24 21:31] bitboxer commented on #50
I tried several times last year to send this version to firefox, but the review process is really bad. A review said that we sent in the wrong code for a different plugin and then other reviewers irgnored the readme and tried to create the packaged version themself from the repository....I basically stopped trying. And I am a firefox user myself 😭

[2017-03-24 21:31] bitboxer commented on #50
But if you want, you can go forward and try your luck with it.

[2017-08-14 09:51] Empty2k12 opened #53 "Copying issue name while name in selection mode works unexpected"
When copying the Issue Name while the title is being edited in Jira adds unnecessary whitespace and "SaveCanel", which I believe is because the HTML used to scrape now contains two buttons which are scraped as well.

TL;DR:
Clicking the "Commit message" button while Jira looks like this
![screen shot 2017-08-14 at 11 46 41](https://user-images.githubusercontent.com/6954968/29266947-dc934fd6-80e6-1

[2017-08-15 18:01] tessi commented on #53
I can confirm this, a "fun" bug.

[2017-08-16 10:02] tessi commented on #53
We could fix this by changing the jira-adapter at [this line](https://github.com/bitcrowd/tickety-tick/blob/101c69e79650461c87144200d7bf27c1ff0b51f3/src/common/adapters/jira.js#L22).

I guess it needs another if checking for the being-edited case.

[2017-10-05 14:47] andreasknoepfle opened #54 "Extension can't be installed on new Firefox Quantum"
As the manifest format will change for the new Firefox Quantum we need to change accordingly. Currently it is impossible to install the extension even manually in the upcoming release of Firefox:

![screen shot 2017-10-05 at 16 45 33](https://user-images.githubusercontent.com/239398/31233315-a868ff1a-a9ec-11e7-8e00-2affdbd2a4be.png)

[2017-10-05 15:15] pmeinhardt commented on #53
Hey, I'm not currently working with JIRA. Bonus points for anyone who submits a PR @Empty2k12 🍪

[2017-10-07 09:38] tessi opened #57 "Stopped working with one of the recent gitlab updates"
One of the recent gitlab updates seemed to change something in their DOM bad enough to break the gitlab adapter. Currently, tickety-tick cannot find a ticket on the page.

Example ticket: https://gitlab.com/gitlab-org/gitlab-ce/issues/1

[2017-10-08 14:33] Empty2k12 commented on #53
@pmeinhardt I tried setting up a dev environment a couple weeks ago for another feature I would have liked to be implementd but the first `yarn` step failed me... When I have nothing to do sometime I can try to get it running again.

[2017-10-08 16:03] pmeinhardt commented on #53
You mean the `yarn install` step @Empty2k12? Mmh. I could imagine [`node-sass`](https://github.com/sass/node-sass) being a problem because it's building a native (node) extension on install. But that's a plain guess. If you can provide some details, e.g. error output, from the failing command maybe we can help solve these and get you up and running 😀

[2017-10-08 18:41] Empty2k12 commented on #53
I got the setup running, will take a look at this issue and my other idea soon.

[2017-10-08 18:46] tessi commented on #53
Hey Geo, cool that you've got the setup right. In the meantime i've put a PR online ( #56 ) which should fix this issue. A review would be nice :)

Regarding the other feature you have in mind: It would be nice if you could open an issue with your feature idea first. This way we're able to give you early feedback, discuss any blockers or cheer for you 🎉

[2017-10-08 21:45] pmeinhardt commented on #50
We need to fix this! The amazing @andreasknoepfle has agreed to look into it next week 🎊

[2017-10-09 09:42] Empty2k12 opened #59 "Make PR name configurable"
# Problem
Currently tickety-tick generates PR names with the following structure

`[#1337] Localise to L33T language`.

this works fine when working with JIRA, but is suboptimal when working with GitHub because a `Closes #1337` has to be added manually to the PR body. Luckily, GitHub supports PR titles like this

`Localise to L33T language (Closes #1337)`

# Solution
**Make tickety-tick's string f

[2017-10-09 11:46] tessi commented on #59
In my opinion this is a good idea 🎉
Please keep in mind, that tickety-tick targets multi-browser support (chrome, firefox, opera, safari if i'm not mistaken). So whatever settings you build, it needs to work on all mayor browsers :)

[2017-10-09 13:55] PragTob commented on #50
Also seems like firefox has changed the way they want addons to be built (again!) and so ticketytick will [stop working with Firefox 57/November this year](https://support.mozilla.org/en-US/kb/firefox-add-technology-modernizing?as=u&utm_source=inproduct)

![selection_089](https://user-images.githubusercontent.com/606517/31341595-41743740-ad0a-11e7-8ad6-267aee5624d7.png)

[2017-10-09 15:16] bitboxer commented on #50
@PragTob luckily this is already using the new web extension api.

[2017-10-10 15:30] #53 closed

[2017-10-12 09:36] andreasknoepfle opened #60 "New JIRA interface - Ticket preview"
Today JIRA released a new interface version that one can opt in.

The Backlog and Issue pages still work, but there is a new PopUp screen to show a preview of an issue for the "Active Sprint"-View instead of the sidebar view from before that we probably need to care about.

Example (greyed out private parts):

![screen shot 2017-10-12 at 11 31 07](https://user-images.githubusercontent.com/239398/3

[2017-10-13 15:59] andreasknoepfle commented on #54
The master branch is ready for Firefox Quantum now!

[2017-10-13 15:59] #54 closed

[2017-10-13 16:09] andreasknoepfle commented on #60
Strangely they disabled the new screen again for now and switched back to the old screen...
I'll close it for now. Will reopen it when the JIRA people come up with it again.

[2017-10-15 12:14] tessi opened #64 "Warnings when installing with a recent chrome"
Installing tickety-tick on a recent chrome throws a warning since PR #61 (which is supposed to make tickety-tick be installable on firefox again):

[code]

The error ist:

[code]

This was tested under chrome `Version 61.0.3163.100 (Official Build) (64-bit)` on MacOS.

Reverting this aforementioned commit "fixes" the issue (and probably removes firefox support again).

The extension installs even

[2017-10-16 12:06] andreasknoepfle commented on #64
I researched a bit and it seems that one needs the `applications` tag in firefox only for manually installing versions from XPI files.
But as it is probably still going to take a while until we can have a real mozilla app store release, we need this desperately to support newer Versions of Firefox.

https://stackoverflow.com/questions/37127330/unrecognized-manifest-key-applications-warning-for-goo

[2017-10-23 10:33] andreasknoepfle commented on #35
done in #63

[2017-10-23 10:33] #35 closed

[2017-10-23 13:03] andreasknoepfle commented on #64
![screen shot 2017-10-23 at 15 02 20](https://user-images.githubusercontent.com/239398/31890419-55939f82-b803-11e7-9bda-a19302cefdb9.png)

Seems like this is also blocking firefox release...

[2017-10-25 12:01] andreasknoepfle commented on #50
https://addons.mozilla.org/de/firefox/addon/tickety-tick/
🎈 🎉  1.2.2 is here

[2017-10-25 12:02] #50 closed

[2017-10-25 12:15] pmeinhardt commented on #50
Whoop, whoop! 🎆

[2017-10-25 13:42] PragTob commented on #50
Thanks :tada:

[2017-10-25 14:18] bitboxer commented on #50
![](https://media.giphy.com/media/QbkL9WuorOlgI/giphy.gif)

[2017-10-26 08:12] andreasknoepfle opened #69 "Release 1.2.2 in all stores"
- [x] Mozilla Addon
- [x] Chrome extension
- [ ] Opera

[2017-10-27 07:46] bitboxer opened #70 "Make branch name configurable"
I have a build system that can't deal with `/` in the branch name and would love to be able to configure the branch name. For our purpose it would be awesome if it can be changed to `feature-1234-awesome-refactoring`.

![](https://media.giphy.com/media/aZ4sQUpybai5y/giphy.gif)

[2017-10-27 08:50] andreasknoepfle commented on #70
Seems to me could go into a similar direction as #59

[2017-10-27 09:39] bitboxer commented on #70
Yes.

[2017-11-07 00:25] pmeinhardt opened #72 "Remove jQuery dependency"
We're currently using only a small subset of jQuery for abstracting browser differences in the implementation of ticket system adapters (for Trello, Pivotal, JIRA, GitHub, Gitlab etc.).

Instead, we could implement the small number of adapter helpers we have in a cross-browser-compatible way — with modern APIs like [`element.querySelector`](https://developer.mozilla.org/en-US/docs/Web/API/Element/

[2017-11-07 00:28] pmeinhardt opened #73 "Remove Bootstrap (alpha) as a dependency"
A candidate for replacing bootstrap could be [tachyons](http://tachyons.io/).

[2017-11-09 00:10] pmeinhardt opened #74 "Use babel-preset-env"
babeljs.io/env

[2017-11-15 09:42] andreasknoepfle commented on #69
![screen shot 2017-11-15 at 10 40 52](https://user-images.githubusercontent.com/239398/32829163-8b7bccd2-c9f1-11e7-9537-8b27260191ad.png)

Today is a good day! Big thanks to @bitboxer for making this possible :)

[2017-11-15 10:35] bitboxer commented on #69
![Party!!](https://media.giphy.com/media/3KC2jD2QcBOSc/giphy.gif)

[2017-11-16 11:30] andreasknoepfle opened #75 "Keyboard shortcuts"
I think it would be a huge addition to support some basic keyboard shortcuts for tickety-tick.

Maybe something like:
* `ctrl-t` to open the tickety tick menu. (from there we can already navigate with the keyboard)
* `ctrl-alt-t` to get a commit message (???)

There is a Webextensions API for this:
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/commands

I'd think it would

[2017-11-18 12:29] pmeinhardt commented on #64
@tessi & @andreasknoepfle, does this warning still occur?

I think it should be fixed by https://github.com/bitcrowd/tickety-tick/pull/65 (and in the more recent [#71](https://github.com/bitcrowd/tickety-tick/pull/71/files#diff-facb6a6e1a9f17b4ded04b4287bdba55R31)) plus we have a new Firefox release now.

I'll close this issue, but please reopen if you still get this error.

[2017-11-18 12:29] #64 closed

[2017-11-18 12:30] pmeinhardt commented on #69
@andreasknoepfle how do we go about publishing the opera release? Should we tackle this on our next infrastructure day?

[2017-11-20 09:27] andreasknoepfle commented on #69
Already waiting on moderation:
![screen shot 2017-11-20 at 10 26 27](https://user-images.githubusercontent.com/239398/33011140-4f372876-cddd-11e7-8988-91d8487a71f3.png)

[2017-11-23 10:09] andreasknoepfle commented on #60
They reintroduced it today I think.

[2017-12-05 14:43] andreasknoepfle commented on #60
#77

[2017-12-06 10:11] andreasknoepfle opened #79 "Release 1.3"
Since we changed the infrastructure of the projects now by a lot we should do a new release soon.
With #77 & #78  we also have some features to roll out. What do you think @pmeinhardt?
- [x] Mozilla Addon
- [x] Chrome extension
- [ ] Opera

Lets see if Opera is even worth it, since it wasn't even considered by the admins for the 1.2.2 release #69.

[2017-12-06 10:53] andreasknoepfle commented on #69
Still awaiting moderation. Dunno if they will do it ever :(

[2017-12-06 13:06] andreasknoepfle commented on #75
With the basic shortcut we can already do most things, since we can tab trough and enter after. So I close this for now. Feel free to reopen when you have further suggestions, what shortcuts we really need.

[2017-12-06 13:06] #75 closed

[2017-12-07 21:30] pmeinhardt commented on #72
This was addressed in #76. Closing 🎉

[2017-12-07 21:30] #72 closed

[2017-12-08 12:06] #60 closed

[2017-12-08 12:08] andreasknoepfle commented on #79
I'm gonna close this, since everything was released except for Opera, where we are still waiting for older submissions... I think no one is reviewing on their side.

[2017-12-08 12:08] #79 closed

[2017-12-08 12:10] andreasknoepfle opened #82 "New Opera Release"
Seems that opera is currently not accepting submission #69.
I'm gonna leave this ticket open and update you if something is happening there.

[2017-12-08 12:10] #69 closed

[2018-02-14 19:16] pmeinhardt commented on #73
Or let's just upgrade to Bootstrap 4.0 now that it's out.
Switching now is probably not worth the hassle.

[2018-02-16 16:00] pmeinhardt opened #87 "Publish version 2.0 to Mozilla and Chrome stores"

[2018-02-16 16:04] pmeinhardt commented on #41
I think it's fine for now.

[2018-02-16 16:04] #41 closed

[2018-02-16 17:27] andreasknoepfle commented on #87
Both versions submitted. Lets see what happens 💃

[2018-02-19 21:41] pmeinhardt commented on #87
Done! Both versions are available in the official Firefox and Chrome stores :raised_hands:

[2018-02-19 21:41] #87 closed

[2018-02-19 21:43] pmeinhardt commented on #59
Tickety-Tick 2.0 just landed in the official Firefox and Chrome stores, featuring configurable commit messages, branch names and commands :gift:

[2018-02-19 21:43] #59 closed

[2018-02-19 21:44] pmeinhardt commented on #70
Tickety-Tick 2.0 just landed in the official Firefox and Chrome stores, featuring configurable commit messages, branch names and commands :gift:

[2018-02-19 21:44] #70 closed

[2018-02-19 23:06] bitboxer commented on #70
Thank you!!!!

![](https://media.giphy.com/media/tjuWJTevYz1Oo/giphy.gif)

[2018-02-20 14:32] andreasknoepfle opened #88 "Changed defaults for 2.0.0"
Seems like the default format changed in 2.0.0 since we used to uppercase the Ticket IDs in the branchname. Not anymore sadly.

[2018-02-20 14:33] klappradla commented on #88
I also realized that - thought it was on purpose though 🙈

[2018-02-20 15:10] andreasknoepfle commented on #88
Don't know. Could also very well be on purpose :-) maybe we need to ask @pmeinhardt

[2018-02-20 15:15] pmeinhardt commented on #88
Ah, I don't think they were explicitly upcase'd but just inserted as they were. For instance if you have a ticket ID like "RC-1" from Jira, it would just use that. To be honest I would need to look that up though. If it's a problem, feel free to open a PR :wink:

On the other hand, for me personally, having branchnames all lowercase seems a bit nicer. But I am completely open for suggestions and i

[2018-02-20 16:00] klappradla commented on #88
The 🗯 thing is still all uppercase though. Makes sense have both aligned I'd say. Just realized it when using Jira. People may have set up additional automated workflows that depend on the correct naming. But let's see if someone even realized 💥

[2018-02-20 16:22] pmeinhardt commented on #88
To me, the branch name is somewhat different from the message:
For the branch name, I feel like slugified/lowercased makes more sense (it needs to be usable on the command-line), whereas it's fine to use the ID as it comes from the ticket system (any casing) in the commit message.

But that is my personal taste only!

To further illustrate: for Trello we get numbers as ticket IDs so casing doesn't

[2018-02-21 17:28] andreasknoepfle commented on #88
`herodot`s linking also needs to be reconfigured when this changes (i noticed)

We will have some hickup time while switching i fear.
For anyone who needs the old behaviour the config for the branch name needs to be
[code]

[2018-02-21 17:32] #88 closed

[2018-03-16 13:11] bitboxer opened #89 "Pivotal tracker - No title for tickets"
Something changed at pivotal that broke the title in tickety tick. The plugin can't get any title from the tickets anymore.

[2018-04-13 08:38] lwassermann opened #90 "No tickets found on JIRA backlog view"
TT finds no issues on the JIRA backlog view, not even if a single item is selected (see #28 for more discussions if none are selected). This might be cause by a recent overhaul of the JIRA UI.

The `Active Sprints` view still works as desired.

[2018-05-07 14:25] pmeinhardt commented on #89
Hey @bitboxer, thanks for the report 👍 When you have the time, we're always happy about a PR 😉

The Pivotal adapter should be relatively easy to update:

* [`src/common/adapters/pivotal.js`](https://github.com/bitcrowd/tickety-tick/blob/a612e07ec28650521cfaa969cd6026cab6b9f46b/src/common/adapters/pivotal.js)
* [`spec/adapters/pivotal-spec.js`](https://github.com/bitcrowd/tickety-tick/blob/a612e07e

[2018-05-07 14:28] pmeinhardt commented on #90
If you want to @lwassermann, we could pair on this 😉 I think I'll have a little time today/this week.

[2018-10-04 14:16] tessi commented on #90
should be clode by #92

[2018-10-04 14:16] #90 closed

[2018-10-19 06:25] pmeinhardt opened #93 "Enhance commit messages"
Thanks to some inspiration from @klappradla, I would like to propose working on the following improvements:

1. [x] Extend ticket objects (currently `id`, `type`, `title`, `fmt`) by adding `description` and `url` if available
2. [x] Format commit messages with a 50 char title, empty line, commit description with a text width of 72 chars — https://tbaggery.com/2008/04/19/a-note-about-git-commit-mes

[2018-10-20 09:00] pmeinhardt opened #97 "Fix icon loading on about view"
The Tickety-Tick icon on the about view seems to not be loading at the moment (in all supported browsers). The code for that does not seem to have changed in a long time so I wonder what is causing this issue.

<img width="340" alt="image" src="https://user-images.githubusercontent.com/706519/47253677-01ee6500-d446-11e8-9ea5-26ab5113bf9f.png">

[2018-10-20 09:48] pmeinhardt opened #98 "Drop support for Safari"
Looking at current desktop browser usage statistics and how much effort it takes to maintain the Safari version of Tickety-Tick, I think that we can drastically decrease the complexity here by dropping support for Safari.

Firefox, Chrome and many other browsers support the *WebExtension API* but Safari is a completely different beast.

[2018-10-20 13:07] pmeinhardt commented on #97
🤦‍♂️ … the icons are currently copied using the `copy-webpack-plugin` using `{ flatten: true }`.

The path used in the DOM node rendered by the component does not match the build output.

[2018-10-20 13:08] pmeinhardt commented on #98
Any objections @bitcrowd/bitcrowd-team?

[2018-10-20 14:02] pmeinhardt commented on #74
Done in #96 ✅

[2018-10-20 14:02] #74 closed

[2018-10-20 16:33] tessi commented on #97
This should be fixed now thanks to @pmeinhardt

[2018-10-20 16:33] #97 closed

[2018-10-20 16:46] tessi commented on #98
I *personally* don't mind dropping Safari support if it's such a maintenance burden. Especially since we have limited support time

However this is a too used by many people. Maybe we should do a small survey at least in our and the neighboring office on Mondays stand-up if people are using Tickety tick in Safari and, if so, if they are willing to change browsers.

[2018-10-20 16:47] tessi commented on #93
A link, if possible to the original ticket would be great.

[2018-10-20 20:51] tessi commented on #98
trying to come up with more data and less personal opinion, i had a look at [statcounter.com](http://gs.statcounter.com/browser-market-share) (the source for can-i-use) and learned a bunch

<img width="1206" alt="screen shot 2018-10-20 at 21 44 51" src="https://user-images.githubusercontent.com/206108/47259910-81fde480-d4b1-11e8-9ad9-c68097e66329.png">

* safari is a whooping ~15%
* apparently the

[2018-10-21 00:58] pmeinhardt commented on #98
Hey @tessi, that's exactly the same numbers I looked at (I should've really mentioned these before). I think it's safe to say that mobile and tablet usage isn't relevant in this discussion.

As for your last point: Yes, Tickety-Tick is not available through the App Store… 👇

…which means we'd have to pay.

[2018-10-21 00:59] pmeinhardt commented on #98
I also found the reason why the extension was looking strange in Safari just now though. So hey, maybe Safari has just earned another chance 😁

[2018-10-21 00:59] #98 closed

[2018-10-21 22:47] pmeinhardt opened #103 "Publish a new release once PRs are merged"
We should publish a new release once the open PRs are merged.

Apart from publishing to the Chrome and Mozilla stores, it might be nice to publish bundled releases for the different browsers here on GitHub as well so people can download and install them if they prefer this method:
https://github.com/bitcrowd/tickety-tick/releases

The bundles can be built using:

[code]

[2018-10-24 08:20] klappradla commented on #98
☝️ that's a great idea @pmeinhardt and should in my opinion also be best practice for releases on Github. I'd also suggest to add some more information to the git tag (using `annotate` cc @tessi 💚 ) to inform people what actually changed so that those who download and install it manually can decide if they need the new version or not.

I could even imagine that the _build and release_ process can

[2018-10-24 10:16] pmeinhardt commented on #98
Would be great to look into how other JS projects automate the release process…

[2018-10-25 12:20] pmeinhardt commented on #73
Done in #102

[2018-10-25 12:20] #73 closed

[2018-10-25 13:20] klappradla commented on #28
This was already partly address by @tessi in https://github.com/bitcrowd/tickety-tick/pull/92 🎉

I'm not 100% sure if all the things this issue asks for are covered yet 🤔

- [ ] **Jira backlog / limit number of tickets**
    When selecting multiple ticket in the Jira backlog, I get a list of all of them _(not limited by number of tickets -> just a scollbar)_ ⏬
    ![screen shot 2018-10-25 at 15 04

[2018-10-26 10:20] klappradla commented on #103
Published and released versions `2.0.0` and `2.0.1` (for Chrome and Firefox). Will update some more screenshots and then close this I guess.

[2018-10-26 10:34] klappradla opened #106 "Temporarily load Firefox addon"
I just realized it's not possible to temporarily load the Firefox build build via

    yarn build:firefox

The popup won't load any content:

<img width="1792" alt="screen shot 2018-10-26 at 12 25 01" src="https://user-images.githubusercontent.com/3491815/47561120-b3940700-d91a-11e8-82f1-d74a41f448e0.png">

This is also reported when submitting a new version to the Firefox addons place:

<img widt

[2018-10-26 11:34] klappradla opened #107 "Display extension version in Safari"
I just realized, Safari is not able to correctly parse the version of the extension, neither when installing it, nor later when displaying it:

**installing** ⬇️
*should be v2.0.1*
<img width="817" alt="screen shot 2018-10-26 at 13 31 40" src="https://user-images.githubusercontent.com/3491815/47563943-a92a3b00-d923-11e8-8e92-11495430e6f3.png">

**settings** ⬇️
<img width="882" alt="screen shot 201

[2018-10-28 13:13] #103 closed

[2018-10-29 10:11] tessi commented on #82
should/can we abandon opera?

[2018-10-30 09:10] klappradla commented on #82
Well, I think there's a fair enough amount of people actually using Opera out there 🌴

I just had a quick look at our account and I don't see why we should not be able to upload any new submissions:

![screen shot 2018-10-30 at 10 07 45](https://user-images.githubusercontent.com/3491815/47707361-e8aa9d00-dc2b-11e8-815e-a8761afa69a5.png)

![screen shot 2018-10-30 at 10 07 58](https://user-images.gi

[2018-10-30 09:13] bitboxer commented on #82
When i did it, I just uploaded the chrome zip file. The problem never was the uploading part, but the moderation part on Operas side. They never reviewed/released the package I uploaded. Contacting them using the forum and email never worked. They simply never answered 😢. But maybe that changed and it is back to working again? Give it a try at least 😉. I know one person who swears by opera and wou

[2018-10-30 09:14] klappradla commented on #82
Thanx @bitboxer 💚

I'll give it a shot this week then.

[2018-10-31 10:01] klappradla commented on #82
Looking at the 🕳 in the Opera submission process up until now, I'll just try to delete the add on and submit it from scratch. Maybe this reaches someone then 🙏

[2018-10-31 10:40] klappradla commented on #82
We could however also a bit more nicer to Opera users and include an `opera.zip` build in our release that is under the hood just a renamed `chrome.zip`... 🤔

This would at least make it a bit more straight forward for Opera users to get the extension up and running even if the _"moderators"_ are lazy.

What do you think?

[2018-11-02 16:58] klappradla commented on #82
Ok, Opera 🙈 what the hell.

It looks like they're shutting down their on add-on _"store"_ (or however this is called anyways). Since they switched to running Chromium under the hood, they also include a [own extensio](https://addons.opera.com/en-gb/extensions/details/install-chrome-extensions/) written by their own team to install Chrome extension in Opera -> which works 😉

Here's the workflow:

1

[2018-11-05 14:57] klappradla opened #110 "Add support for Ora"
Just trying out [ora](https://ora.pm) on a project. Depending on whether or not this is a widespread tracker software, it might make sense to stay on the 🌊 of hip tools and add support of it 🤔

[2018-11-12 22:46] #82 closed

[2018-11-26 15:00] pmeinhardt commented on #106
Hey @klappradla, for building and loading a local development version of the Firefox version of Tickety-Tick, there are two separate `npm` scripts that produce different output compared to a production build:

* [`yarn build:firefox-local`](https://github.com/bitcrowd/tickety-tick/blob/dd58313545dbd6261e14bd7a400046ebf6258813/package.json#L14)
* [`yarn open:firefox-local`](https://github.com/bitcr

[2018-11-28 13:35] pmeinhardt commented on #82
FYI: Just received this email from Opera:

[2018-11-29 09:02] klappradla commented on #110
Closed via #111

[2018-11-29 09:02] #110 closed

[2018-11-29 09:41] klappradla commented on #82
🎉 so there's at least someone alive over at Opera 🎉

[2018-12-03 09:08] tessi opened #113 "Does not work for the new JIRA version"
JIRA changed their CSS identifiers to be obfuscated. (the page looks the same). This results in none of the JIRA pages working with tickety-tick anymore.

<img width="565" alt="screenshot 2018-12-03 at 09 57 30" src="https://user-images.githubusercontent.com/206108/49363463-03b47500-f6e2-11e8-9273-5332cf1ed949.png">

We cannot use the (now obfuscated) css classes anymore and must rely on other mea

[2018-12-03 09:39] planktonic commented on #113
Yup, something like CSS-modules. Also means the classes will/could change on every deploy. Using the URL may be the most stable approach, as they really shouldn’t be breaking all their links any time soon?

[2018-12-17 09:45] nickgnd opened #116 "Doesn't work with the new version of ora.pm"
Version 2 of `ora.pm` is still in [beta](https://ora.pm/blog/ora-2-beta), don't know when will be released.

[2019-01-17 23:02] #107 closed

[2019-01-18 07:16] pmeinhardt commented on #93
Just two quick notes for future selves 💭

1. **Adding ticket URLs**

    My first thought was: Easy! We already pass the document location as an argument to the adapters.

    On second thought: The scanner probably needs to add the URL on a case-by-case basis. Consider the GitHub issues list for instance, where you can select multiple issues via their checkboxes. The ticket URLs shouldn't be `htt

[2019-02-11 10:06] fabienchn opened #134 "Configurable branch name prefix "feature/""
Would it be possible to make the `feature/` prefix (for the branch name) configurable ?
In my case I would like to have no prefix at all.
But it would probably also be nice to be able to choose another string instead of `feature`.

[2019-02-11 11:10] klappradla commented on #134
Hey @fabienchn 👋

Thanx for reaching out!

Yes, it would and actually **already is** possible to configure (also fully remove) the prefix! You can do this in the [Advance Configurations](https://github.com/bitcrowd/tickety-tick#advanced-configuration) (the README will point you to where you can find them in the browser you're using).
In Firefox, they for example look like this:
![screenshot 2019-0

[2019-02-11 11:10] #134 closed

[2019-02-11 13:51] fabienchn commented on #134
Hi @klappradla that's exactly what I was looking for, awesome thank you !

[2019-03-06 10:34] pmeinhardt commented on #113
This might be addressed by #137

[2019-03-07 18:51] pmeinhardt opened #143 "Add a loading indicator"
With the new async adapters which may perform API requests etc. it makes sense to show an **activity indicator** while the adapters are scanning for tickets.

See https://github.com/bitcrowd/tickety-tick/pull/137#discussion_r262505287

[2019-03-07 18:54] pmeinhardt opened #144 "Handle adapter errors"
With the new API-based adapters, we'll likely have cases where requests time out or fail. For such cases, we should check that Tickety-Tick displays a helpful error message:

https://github.com/bitcrowd/tickety-tick/pull/137#discussion_r262505287

[2019-03-15 22:48] pmeinhardt commented on #143
Closed via #146

[2019-03-15 22:48] #143 closed

[2019-03-20 22:53] pmeinhardt commented on #89
In case someone has access to a Pivotal project and decides to work on a fix…

We're currently moving adapters over to using ticket system APIs rather than DOM lookups:

* #137
* #138

For Pivotal, we'd like to do the same.

This looks like the relevant endpoint documentation:
https://www.pivotaltracker.com/help/api/rest/v5#Story

PRs very welcome 🙂

Cheers 👋

[2019-03-21 22:20] pmeinhardt commented on #113
Fixed via #137. We just need to release a new version soon-ish.

[2019-03-21 22:20] #113 closed

[2019-04-04 09:55] acid opened #152 "Tickets with a dash lead to discarded ticket-ids"
Hello,

at first thank you for this great tool! I don't want to miss it in my daily work. At my workplace we have Jira Tickets like "ABC-1234 cool thing" sadly this leads to output like this `git checkout -b 'feature/-cool-thing' && git commit --allow-empty -m '[#] cool thing'` which is kinda annoying.

How can we improve this? If you guide me in which part the parsing is done I'm happy to create

[2019-04-04 09:59] klappradla commented on #152
Hm, have you double checked if you can get around this via. [configuring patterns](https://github.com/bitcrowd/tickety-tick#advanced-configuration) for branchnames yourself?

[2019-04-04 12:12] acid commented on #152
@klappradla thanks for the quick feedback! I tried that but the problem seems to be that id is empty or not in a usable way.

[2019-04-05 15:55] andreasknoepfle commented on #152
I think this happens due to JIRA pages not parsed properly currently (I think you are using JIRA at your company no? ;) ) I have seen similar issues with other JIRA instances.

We made a couple of improvements here lately:

See #137 for example.
I am not sure though if those changes were already released.  @klappradla @paul can maybe give insights here?

[2019-04-05 15:57] andreasknoepfle commented on #152
Just checked, I think the PR was not yet released in a new version.

[2019-04-08 09:20] acid commented on #152
@andreasknoepfle ok, please let me know when it was released and I'll let you know here if it fixed this issue for me :)

And you're right, we're using Jira here, sorry for missing this information!

[2019-04-12 09:21] andreasknoepfle opened #154 "Github tickety-tick issues seem to not work anymore"
<img width="1331" alt="Screenshot 2019-04-12 at 11 21 39" src="https://user-images.githubusercontent.com/239398/56026777-2d774b80-5d15-11e9-9ff7-5bc616cbce47.png">
Maybe github changed their markup.

[2019-05-20 08:32] #144 closed

[2019-05-20 22:02] pmeinhardt opened #159 "Add a screencast to the readme?"
Should we add a short screencast to the README to demo how Tickety-Tick works and give people coming across this repo a better idea about it?

[2019-05-21 08:01] klappradla commented on #159
💥 awesome advertising idea!

Let's schedule this for our next hacknight / lunchhacking.

[2019-05-24 16:18] andreasknoepfle commented on #152
Hey @acid. We released the new 3.0.0 version of tickety-tick. Can you verify if the problems are gone now :)

[2019-05-24 17:02] bitboxer commented on #154
Do you plan to fix this in the near future?

[2019-05-27 12:03] acid commented on #152
@andreasknoepfle awesome, that fixed it! Thank you very much 💜

[2019-05-27 12:03] #152 closed

[2019-05-30 14:34] bitboxer commented on #154
Since nobody answered I used a bit of this nice day to sit in a hammok and write the fix for this. Hope you like it  :wave:

[2019-05-30 14:37] bitboxer commented on #154
![homer in a hammock](https://media.giphy.com/media/3orieP77Lhw1S9pEgU/source.gif)

[2019-05-30 20:11] xhr15 opened #163 "Please add notion.so support :)"
It would be lovely to use tickety-tick with notion.so

[2019-05-31 08:23] maltoe opened #164 "Ticket type might contain whitespaces and isn't slugified"
Hey tickety-tick devs,

I just found out that I can't use the generated branch name as is (using Jira) , as we have a whitespace in the ticket type (`"tech story"`).

Would you think it would be ok to `slugify` the type by default as well?

https://github.com/bitcrowd/tickety-tick/blob/3175a51ca95daf1a4e2ff07ede04232efbbcde94/src/common/format/index.js#L8

Alternatively, adapt the Jira adapter to

[2019-05-31 08:24] maltoe commented on #164
Ah, btw, the quotes don't help in this case, due to git

[code]

[2019-05-31 08:31] maltoe opened #165 "Unable to copy default value in settings"
Hello friends,

just a minor annoyance I just noticed, not even sure this is TT's fault or just chrome code:

When I try to change a setting in the Chrome extension settings, say the formatter's `branch` setting, I can't copy the existing value as it is just a placeholder in the input.

![ticketytick_cant_copy](https://user-images.githubusercontent.com/96114/58692536-1822b300-838f-11e9-8cf5-9bd02f

[2019-05-31 21:46] pmeinhardt commented on #164
Ah, thanks @maltoe 💚  We've not seen ticket types with whitespace before.
I think `slugify`ing sounds like a reasonable approach 👍

Would be great if you can whip up a PR 🙂

[2019-05-31 21:55] pmeinhardt commented on #165
Ah, indeed. I totally see why that's slightly frustrating @maltoe 💚 Great screencast 😄
The default is just shown as a standard browser [input placeholder](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Labels_and_placeholders) which is not selectable.

I guess the alternative would be to set the input value itself to the default value on blur if the field is empty. Would that be t

[2019-06-01 07:53] maltoe commented on #165
@pmeinhardt Or just prefill the field with the default, and don't persist it if it hasn't been changed?

[2019-06-03 08:29] klappradla opened #167 "Unintended breaking change on Trello ticket IDs"
Trello's ticket URLs look approximately like this:

    https://trello.com/c/wkvhWD7u/615-5-remove-break-screens

Versions < 3.0 of TicketyTick used `615-5` as the main reference / ID for the ticket in both, the commit message as well as the branch name.

From the current (3.0) version on, TicketyTick uses the anchor tag as main refence / ID. So branch names look like this:

    feature/wkvhwd7u-5

[2019-06-03 08:40] tessi commented on #167
I used it on a trello project for a week now. It makes life a little harder when finding old branches (they are not sorted anymore by ticket-creation-date which makes it harder to scan them).

Apart from that I personally don't care. The question is, if we think clients don't like this change (since this text appears in bills/joblogs)

[2019-06-03 08:40] tessi commented on #167
cc @xhr15 ☝️

[2019-06-03 09:45] pmeinhardt commented on #167
Good catch @klappradla. The motivation for this change was that the `shortId` is not actually a good identifier for tickets according to the Trello API documentation. More details here: https://github.com/bitcrowd/tickety-tick/pull/138#discussion_r267130364

Would it be okay to update the release notes?

[2019-06-03 11:58] klappradla commented on #167
Thanks for the link @pmeinhardt 🙏 Now I event remember the conversation about it!

Guess it's fine to just quickly mention in in the release notes _(also this issue wasn't about a "bug")_.

[2019-06-03 12:57] andreasknoepfle commented on #165
We could also prefill it and have a reset button or something like this, to go to be able to go to the default again.

[2019-06-04 03:57] pmeinhardt commented on #164
Fixed via #166. Thanks a lot @maltoe 💚

[2019-06-04 03:57] #164 closed

[2019-06-04 04:48] pmeinhardt commented on #167
I've updated the release notes:

![updated release notes](https://user-images.githubusercontent.com/706519/58851846-cb3b2700-8683-11e9-8912-e31c9586e1dd.png)

Please re-open if you're missing anything!

✌️

[2019-06-04 04:48] #167 closed

[2019-06-04 09:18] klappradla commented on #167
@pmeinhardt 👑

[2019-06-05 07:57] pmeinhardt opened #169 "Update "summary" button to work with multi-line commit messages"
The summary button currently just concatenates the commit messages generated for the selected tickets. With the changes from #93, we'll have multi-line commit messages and need to update this behavior to just render the summary lines or something similar.

[2019-06-05 08:01] pmeinhardt commented on #163
We could maybe do a lunch coding session maybe to spread a bit of knowledge on how to work on Tickety-Tick, some general JS tooling etc. 🙂

[2019-06-11 08:47] #154 closed

[2019-06-11 09:06] bitboxer commented on #154
so when is the next release scheduled  :rofl: ?

[2019-06-11 09:44] pmeinhardt commented on #154
It'll probably ship later today @bitboxer ⛵️

[2019-06-11 18:35] bitboxer commented on #154
:tada: Thank you! :bowing_man:

[2019-06-11 19:03] pmeinhardt commented on #154
The new release is now available on the Chrome and Firefox stores @bitboxer 🕺
Shout-out to @andreasknoepfle for publishing them 💚

[2019-06-13 06:16] pmeinhardt commented on #165
Fixed by #170.

[2019-06-13 06:16] #165 closed

[2019-06-20 08:06] bitboxer opened #176 "Maybe add a border glow to the icon in the menu bar?"
When I am using dark mode, i barely see the tickety tick icon in the menu bar. Maybe adding a glow border would help it standing out?

[2019-06-20 09:20] andreasknoepfle opened #177 "Automate release process"

[2019-06-20 09:27] andreasknoepfle opened #178 "Automate release process"
We could make it easier to release tickety tick by automating it a bit better.
- [x] Add a task for zipping the safari extension
- [x] Add a script to draft a new release and upload the bundles to github (maybe for running in CI on new tags)

Optional:
- [x] Use the commit history/changelog to create release descriptions

[2019-06-20 21:12] pmeinhardt commented on #177
Looks like a duplicate, see #178. Feel free to open if it's not ✌️

[2019-06-20 21:12] #177 closed

[2019-06-23 12:57] andreasknoepfle commented on #177
Giithub was giving me 500 errors when creating this and it showed up later :D. 🙏 thanks for closing it.

[2019-06-28 23:51] pmeinhardt commented on #93
The auto-formatting is done. While a few adapters already return the ticket URL etc., most of them don't. While this additional information is optional, these adapters should still be updated ✌️

[2019-08-20 07:51] bitboxer opened #185 "Per Repo Templates?"
I now run into the issue that I have 3 customers with different needs regarding the git commit templates. It would be awesome if it is possible to add repo specific templates.

What do you think? Since you are an agency with several customers, you might run into this, too :wink: ?

[2019-09-03 22:30] pmeinhardt commented on #176
Pretty much all browsers use a rather flat UI style without any gradients, shadows or glows.
I'd therefore prefer not to add a glow.

I wonder if there's a way for either providing "light" and "dark" icon versions (e.g. via the extension manifest) or an icon mask that is colored by the browser (something that Apple does for iOS app navbars…)?

🤔

[2019-09-03 22:33] pmeinhardt commented on #176
Mmh. There doesn't seem to be a way of providing a different light and dark icons:

- https://developer.chrome.com/extensions/manifest/icons
- https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/icons

Not sure if it's possible to set the icon on runtime from JavaScript and to query the browser/OS UI mode?

[2019-09-03 22:38] pmeinhardt commented on #185
Sounds like a lot of work. We'd probably have to establish a concept of "profiles" that you can edit in the settings and quickly switch between from the extension popup.

I personally don't switch projects often enough that this would be "a thing" for me at the moment. Also, most client projects we enter don't even have a branch/commit convention to start with, so they're happy just adopting our d

[2019-09-03 22:42] pmeinhardt commented on #28
Closing this issue for now, as there's some support for lists of tickets already.
Feel free to re-open if you see the need for further improvements ✌️

[2019-09-03 22:42] #28 closed

[2019-09-03 22:43] pmeinhardt commented on #116
Is this still an issue @nickgnd? Otherwise, it'd be great to close this issue. Thank you 💚

[2019-09-03 23:12] pmeinhardt commented on #185
Maybe you could even use a browser-profile per customer/client to manage different extension settings?

[2019-09-04 07:40] nickgnd commented on #116
@pmeinhardt I have just checked. It is working partially. The commit message is extracted correctly, but not the branch name which reports all the issue types in the prefix 😞 :

`chore-bug-chore-story-feature-docs-epic-investigation/customerName123-ticket-title`

[2019-09-04 08:11] pmeinhardt commented on #116
Okay, so it somewhat works 😂 Let's keep this open then. Just wanted to check what the current state is. Thanks a lot @nickgnd 💚

[2019-09-04 08:37] bitboxer commented on #176
But what about just modifying the current logo with a little glow to make it work on both dark and bright background?

This is how it looks like on my dark firefox right now:

<img width="70" alt="Screenshot 2019-09-04 at 10 36 55" src="https://user-images.githubusercontent.com/56195/64239127-f3932580-ceff-11e9-97d4-fb0feb30346d.png">

[2019-09-04 09:02] pmeinhardt commented on #176
Rather than a glow, a flat light-grey circle in the background might look better. Similar to what it already looks like when you hover the icon. But adding an extra circle or other outline around it also means the logo itself will be even smaller.

![screenshot: hover](https://user-images.githubusercontent.com/706519/64240504-824c7600-cef1-11e9-8624-6dd36f2109d3.png)

If it really bothers you, why

[2019-11-11 13:14] maltoe opened #194 "Buttons get displayed off screen when ticket title is too long and can't be broken"
When tickets have really long names that can't be line-broken (e.g., filesystem paths, URLs), the buttons are displayed off-screen.

<img width="320" alt="Screenshot 2019-11-11 at 14 12 18" src="https://user-images.githubusercontent.com/96114/68589920-8070d700-048d-11ea-93cb-35655e97d604.png">

Workaround is to click into the tickety-tick dialog and hit `<Tab>` once, but it would be nice if the bu

[2019-11-28 17:48] andreasknoepfle opened #195 "Support backlog & board view of JIRA next gen software projects"
JIRA has a new type of project which we do not yet support fully:

https://confluence.atlassian.com/jirasoftwarecloud/working-with-next-gen-software-projects-945104895.html

An example is e.g. our own bchp board:
https://bitcrowd.atlassian.net/jira/software/projects/BCHP/boards/7

Both views currently make tickety-tick error out:

![Screenshot 2019-11-28 at 18 47 10](https://user-images.githubuser

[2019-11-28 17:51] andreasknoepfle commented on #195
This is the errors that happen, just in case if it helps debugging this, which i don't believe :):

![Screenshot 2019-11-28 at 18 50 01](https://user-images.githubusercontent.com/239398/69825563-fe640a80-120f-11ea-8593-168b2ba69a8a.png)

[2020-02-10 13:36] pmeinhardt commented on #195
Should be fixed on `master` now @andreasknoepfle. We just need a release, in case you have time (I'm quite busy with project work today) 😉

[2020-02-25 14:06] klappradla commented on #89
Since there wasn't any progress on this and nobody here has access (or is actively working with) Pivotal tracker, we unfortunately need to drop the support for it (at least for now). It does not make much sense to advertise we're supporting it if the adapter is fundamentally broken 🚧

[2020-02-25 14:14] klappradla opened #199 "Drop support for Pivotal Tracker"
As reported some time ago in #89, our current adapter for [Pivotal Tracker](https://www.pivotaltracker.com/) is broken 😿

As there aren't any active users of this tracker in our community, we at least for now unfortunately have to drop the support for Pivotal 🕳

[2020-02-25 14:14] klappradla commented on #89
This said, I'll close this one and continue with https://github.com/bitcrowd/tickety-tick/issues/199 ⚰

[2020-02-25 14:14] #89 closed

[2020-02-26 12:31] #199 closed

[2020-02-26 16:27] klappradla opened #202 "Update and fix NodeJS version and dependencies"
We are currently using NodeJS v.10.something on CI and it is actually also the version that works best for local development and building the browser extension from source. This version of Node uses `fsevents` v1 which is deprecated. However, simply using a more up to date version of Node yields a lot of issues (e.g. [this one](https://github.com/paulmillr/chokidar/issues/827)) and it's not easily

[2020-02-27 19:32] #202 closed

[2020-02-27 19:34] #93 closed

[2020-02-27 19:41] #106 closed

[2020-02-27 20:30] #169 closed

[2020-02-27 20:45] klappradla opened #208 "Enhance options page"
Instead of explaining the configuration options in the README and maintain a list of screenshots for different browsers, it could be easier to understand (and maintain) to have this information directly on the options page.

[2020-02-27 21:28] klappradla opened #210 "Drop support for Safari"
As it turns out, Safari dropped support for "Legacy Extensions" (see [release notes](https://developer.apple.com/documentation/safari_release_notes/safari_13_release_notes)). This means our current way of loading the TicketyTick extension in Safari via the `Extension Builder` is no longer possible from **v13** on - the current version of Safari.

There are new ways to [build an extension](https://

[2020-02-27 21:29] #208 closed

[2020-02-27 21:41] #116 closed

[2020-02-27 23:08] klappradla opened #212 "Install from file not working for Firefox"
I think™ this may actually be related to what I reported earlier in #106 🙈 : it's currently not possible to install the Firefox build as a "permanent" add-on "from file" as described in [the README](https://github.com/bitcrowd/tickety-tick#firefox).

One cannot select the `manifest.json` file for this. And trying to use the "bundle" zip file build for the submitting it to the Firefox add-ons colle

[2020-02-27 23:43] pmeinhardt commented on #212
For some more pointers: https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox

[2020-02-27 23:57] pmeinhardt commented on #212
It very much sounds like it is no longer possible to install self-built, unsigned extensions in "Release" and "Beta" Firefox.

https://wiki.mozilla.org/Add-ons/Extension_Signing

It sounds like we have the option to publish "beta" releases of Tickety-Tick:

Or maybe there's some way of self-signing them (requires access to Mozilla API):
https://extensionworkshop.com/documentation/develop/web-ext-c

[2020-02-28 07:55] tessi commented on #212
Alternatively, we could locally use a dev eition of firefox 🤔

[2020-02-28 09:18] klappradla commented on #212
Thanks for digging into this @pmeinhardt 🙏 (I simply wanted to report it yesterday - did not look into the details yet).

Running the local "bundled" build in Firefox Nightly works like charm ❤️

We'd probably have to document the way to get there though... Plus a small downside: the Nightly build often has some super weird 🐛 🐝 which could impact working with the "beta" version of TicketyTick on a

[2020-02-28 09:20] pmeinhardt commented on #212
I guess one underlying question is whether we want to allow people to just use their normal browser (and browser setup) when using a custom-built version of Tickety-Tick?

![dev edition](https://user-images.githubusercontent.com/706519/75527569-d781c400-5a0a-11ea-9e3d-dcc1ddd8b10b.png)

I personally find it quite inconvenient that you can no longer easily install extensions built from source. 😢 Fo

[2020-02-28 09:30] klappradla commented on #212
🙈 I can install it, but I cannot use it with Jira 😹

Tickety-Tick revision: 12ba96ad6a933d6c90d8575c883b4377b18e5d15

[code]

[2020-02-28 10:05] pmeinhardt commented on #212
Sounds like we might have accidentally broken something when upgrading `ky` 🤔

I'll take a look 🔍  https://github.com/sindresorhus/ky/releases

[2020-02-28 10:09] pmeinhardt commented on #212
Or maybe, while you're at it @klappradla, you could quickly try downgrading `ky` back to `^0.14.0`, rebuild and try it out?

[2020-02-28 10:53] klappradla commented on #212
Yes, already tried out going back to the version before the updates (14). Same problem.

[2020-03-02 15:25] andreasknoepfle commented on #195
Somehow it still does not work so much with next-gen projects. The errors above disappeared, but still no ticket is found with version `3.2.0`

[2020-03-02 16:12] pmeinhardt commented on #195
Possibly related? https://github.com/bitcrowd/tickety-tick/issues/212#issuecomment-592428436

[2020-03-03 16:54] tiagotex opened #213 "Config subject length"
We updated from 3.1.0 to 3.2.0 and now the commit message returned is:

[code]

In 3.1.0 it was:
[code]

In our use case we don't want to break the commit messages at 50 characters, because we use 13 characters for the ticket number and this would not give us enough space to have good subjects descriptions.

https://github.com/bitcrowd/tickety-tick/blob/master/src/common/format/pretty-print.js#L5

[2020-03-03 23:19] pmeinhardt commented on #213
Hey @tiagotex 👋🙂

There is an option to toggle pretty-printing in the extension preferences (which we decided to enable by default).

![screenshot](https://user-images.githubusercontent.com/706519/75828819-9e4baa00-5da4-11ea-933e-34239623b75c.png)

Disabling it should prevent breaking subject lines longer than 50 characters, although it will also mean, the commit body is not formatted to a width o

[2020-03-03 23:31] pmeinhardt commented on #212
Let's tackle this together with the Jira issue in #195?
It is not really related to this issue I think.
I'll link your comment there @klappradla. ✌️

[2020-03-03 23:31] pmeinhardt commented on #212
I think we've answered the question about installing a custom-built version in Firefox here, so I'll close the issue. Feel free to re-open if I've overlooked something. 🙂

[2020-03-04 10:35] tiagotex commented on #213
Yeah, that is enough for us. Thank you for the fast response 😊

[2020-03-04 10:35] #213 closed

[2020-03-04 13:43] klappradla commented on #212
We sorta did, but I'm not satisfied with the answer yet 😉

I guess we should at least update the docs for how to install a custom build. In addition to that, I'd suggest we explore possible alternatives for using "beta" versions of the extension. I could think of:
1. signing our local build
1. actually releasing "beta" versions
1. marking the local build as somehow different to the actual extensio

[2020-03-09 10:09] kajatiger opened #214 "Error Message when opening with firefox"
I am getting this error message when using tickety-tick as a firefox addon with jira:
Tickety-Tick revision: 9cf09759676404542de0980f6524dd2996d6f08e

[code]
<img width="363" alt="Bildschirmfoto 2020-03-09 um 11 01 50" src="https://user-images.githubusercontent.com/15628617/76202907-ef6cfb00-61f5-11ea-80f4-5a2d006de60a.png">

And these are my configurations. I wonder if that has something to do wi

[2020-03-09 12:29] klappradla commented on #214
Thanks for reporting @kajatiger 🦄

This may be related to the problem described in https://github.com/bitcrowd/tickety-tick/issues/212#issuecomment-592428436 _(and therefore related to some dependency updates we did 🤔 ...)_

Although it looks like a different problem, just to ensure this is not a duplicate of https://github.com/bitcrowd/tickety-tick/issues/195, do you by chance recall in which "vi

[2020-03-09 15:44] kajatiger commented on #214
I don't think this relates to either of these two mentioned problems, because
1. I don't have any problems installing the addon with firefox and
2. It correctly matches the ticket with the PR, once I manually created the branch, commit & PR with the given naming convention including the ticket ID
3. The error occures no matter what kind of Jira ticket I am viewing (in my case current sprint, backl

[2020-03-09 20:28] tessi commented on #214
Thanks @kajatiger for reporting this issue 💚 . Sadly, I have no obvious idea what exactly fails for you, but I noticed that the error message is very unhelpful. Maybe we should provide better errors ins tickety-tick in case of HTTP errors (I see that it comes from `ky`, our HTTP lib). It would be useful to see which request fails with which code/response.
It would also be helpful if the current DO

[2020-03-10 12:44] klappradla commented on #195
Seems like we also have a problem with parsing the error we're getting for this scenario. That's what I get when debugging the extension:
[code]

[2020-03-12 18:39] xhr15 commented on #163
it turned out notion is:
1) hard to parse
2)saying that an API is on the roadmap, but there is no progress

Therefore we are dropping notion support for now

[2020-04-08 11:44] pmeinhardt commented on #163
Notion is likely back for a new project, so let's see whether we can come up with a way of supporting it. ✌️

[2020-04-08 12:16] pmeinhardt commented on #163
So, here's my findings so far:

- Looks like we cannot really tell what a "ticket" is in notion, because they keep everything super generic and don't have a notion (pun intended) of what is a "ticket".
- However, it looks like everything is basically a "page", so we could generate commit messages and branch names based on pages.

Which information do we need?

- ticket identifier
- ticket title
-

[2020-04-08 17:13] klappradla commented on #163
Thanks a 🚚 for the investigation @pmeinhardt 🙏 🙏 🙏

Hacked something together 👇
<img width="1370" alt="Screenshot 2020-04-08 at 19 06 02" src="https://user-images.githubusercontent.com/3491815/78812748-318f8500-79cc-11ea-8144-8b40417b4dcd.png">

With that I would generate:
**branch:**

[code]

**commit message:**
[code]

😹 the UUID is a bit bulky as a ticket identifier... But I up until now could

[2020-04-08 21:08] pmeinhardt commented on #163
You are awesome @klappradla! 🤘❤️

My initial thought while quickly throwing together the concept was that a UUID is just 128 bits of data which – if encoded with an encoding that is able to put more bits into fewer characters (say base58) – could be shortened by a fair amount. 💭

However, we'd lose the ability to just quickly use the ID from the commit to find the corresponding ticket (you'd have

[2020-04-08 23:15] pmeinhardt commented on #163
I actually just had another thought and it actually seems to work. 💡

I was thinking about how Git allows "Short SHA-1" using only the first few characters of the hash (at least 4, usually 7), as long as they're unambiguous.

https://git-scm.com/book/en/v2/Git-Tools-Revision-Selection

This actually seems to work for Notion.so and their UUIDs as well.

For instance, in your example above, the UUID

[2020-04-08 23:17] pmeinhardt commented on #163
Argh. Nope. Scratch that. They just redirect you to the last page you've visited. 🤦‍♂

[2020-04-09 08:24] tessi commented on #214
@kajatiger could you test https://github.com/bitcrowd/tickety-tick/pull/217 and see if it works for you (if you want to build the extension from git that is)? For me this change fixes the issue with new JIRA boards.

[2020-04-09 20:41] #195 closed

[2020-04-14 15:59] klappradla opened #222 "Fix the summary button"
The _summary_ button can be a helpful tool for copying the bits of text used for job logs. With the newly introduced formatting rules, the summary may contain `…` (and in general just too much text).

At best, the summary should include `[id]<title>` and concat multiple tickets via semicolon.

To make things customizable, also add a configuration option for the `summary` pattern to the options.

[2020-04-16 09:33] klappradla opened #225 "Clean up code comments and mocks"
This is a chore ticket based on @pmeinhardt's comments on #224 💚
- move file-level documentation to the multiline syntax _(and check whether the documentation is still valid)_
- make use of Jest's automocking when mocking the `client` in tests

[2020-04-16 09:38] #163 closed

[2020-04-16 10:08] klappradla commented on #222
Is it even worth tackling this @pmeinhardt with #221 going 🐎 at the moment?

[2020-04-16 10:37] pmeinhardt commented on #222
I think not. 🙂

[2020-04-16 11:42] #225 closed

[2020-04-20 08:03] klappradla commented on #222
Closing this since we decided to go another path in #221 ✨

[2020-04-20 08:03] #222 closed

[2020-04-21 07:28] #176 closed

[2020-04-24 12:35] pmeinhardt opened #228 "Add debugging hints to README"
This page contains a couple of hints around debugging an extension (and more):
https://extensionworkshop.com/documentation/develop/debugging/

Could be useful to add this to the "Development" section in our README.

[2020-04-24 12:46] pmeinhardt commented on #212
@klappradla, I just stumbled across this: https://extensionworkshop.com/documentation/publish/

Sounds like there are might be different options for us to distribute "beta" versions.

One of them, registering a separate "Tickety-Tick (Latest)" on the Chrome + Mozilla stores, maybe even automatically pushing new versions for this in CI from `master.

Not sure whether the "sideloading" which the sit

[2020-04-28 16:29] klappradla commented on #228
Oh my god, this is pure gold @pmeinhardt 🕵️

It's probably best if we simply link to the page itself rather than picking out individual topics and explaining them again ourselves - a) from a standpoint of maintainability and b) since we can hardly estimate what tools people are looking for as this highly depends on the area of the extension one is working on.

[2020-04-28 18:11] #228 closed

[2020-04-29 14:47] klappradla opened #230 "Fix loading animation in new design"
In the new compact design introduced in #221, the loading animation which is displayed while the extension is looking for sources on the page, looks a bit off. See 🎥

![loading](https://user-images.githubusercontent.com/3491815/80609903-f5829980-8a38-11ea-8cba-d4c3e600443e.gif)

With the `…` so close to the bottom of the field, users may have the impression that _"something is missing"_ / is not c

[2020-04-29 14:52] klappradla opened #231 "Adjust tab flow in new design"
In the new compact design introduced in #221, the tabing workflow feels a bit off for cases where only a single ticket is matched _(which may assumed to be the default case for most trackers)_: the disabled `select` field still gets the focus on the 3rd press of the <kbd>tab</kbd> key.

Firefox however does not indicate the focus. Plus there is not really such a huge point in focussing the disable

[2020-04-29 14:58] klappradla opened #232 "Update screenshots and docs to meet the new design"
Update the used screenshots and documentation to meet the new compact design introduced in #221.

[2020-04-29 16:37] klappradla commented on #212
I tried out [`web-ext-sign`](https://extensionworkshop.com/documentation/develop/web-ext-command-reference/#web-ext-sign) which is pretty neat and probably already sufficient for what we need 💜

It essentially does two things:
1. Upload an `unlisted` beta version of the extension to `addons.mozilla.org`
  The version is not available for public download, but bitcrowd developers with credentials co

[2020-04-30 06:53] pmeinhardt commented on #212
That's awesome @klappradla. Thank you so much for digging into this. 💖

I like the idea of automatically pushing beta builds from CI. It sounds like a convenient solution. Maybe instead of using a `beta` branch, we might want to use `x.x.x-beta` tags? This way it might be easier to try out things on different branches without messing up/force-pushing a `beta` branch because of conflicting changes.

[2020-04-30 07:22] pmeinhardt commented on #231
Oh wow. Firefox tab-selects disabled elements. Didn't expect that. 👀 Thanks @klappradla ❤️

[2020-04-30 13:44] bitboxer opened #233 "new helper to limit string length"
I would love to have a helper to limit string lenghts because the branch names are getting waaaay to long sometimes. So long that they break a build system I have to use for a customer right now :trollface: .

[2020-04-30 13:45] bitboxer commented on #233
I will have some time to implement it in 2-3 weeks I think. So if you like it, ping me and I will try to do it.

[2020-04-30 13:53] klappradla commented on #231
Experimenting around with this a bit, it actually seems to be a false alarm 🙈.

The focus is not on the disabled select, but on either the whole popup or outside (I cannot really debug the HTML of the popup) which is still the same behavior as for the currently released version.

**TL;DR** the disabled select input is not tab-selected 👍

[2020-04-30 13:53] #231 closed

[2020-04-30 14:10] klappradla commented on #231
FYI: the active element is the `body` then 🤷

[2020-04-30 14:26] pmeinhardt commented on #233
Ha, interesting. 😁 Can you share which build system this is?

I am not 100% sure if there'll be time for us to work on this before you get around to it.
I suggest whoever starts working on it, just drops a comment here. ✌️

To implement this, I think our template syntax needs to be extended. At the moment, the transforms/filters you can apply to template values do not accept/expect arguments.

My

[2020-04-30 14:26] pmeinhardt commented on #233
Thanks for proposing this. 💚

[2020-04-30 14:42] bitboxer commented on #233
Its using aws amplify to generate branch previews and somehow the dns has a length limit and those branch names as subdomain make it explode 🤣 .

Also yes, I will extend the template language like you proposed 😉

[2020-04-30 15:45] #230 closed

[2020-05-02 11:11] pmeinhardt commented on #194
Resolved in v4.0.0 (to be released soon) with the new compact design. See #221.

[2020-05-02 11:11] #194 closed

[2020-05-04 09:05] pmeinhardt opened #237 "Update Mozilla and Chrome store screenshots"
Once v4 is out, we should update the Tickety-Tick screenshots in the Mozilla and Chrome store:

- https://addons.mozilla.org/en-US/firefox/addon/tickety-tick/
- https://chrome.google.com/webstore/detail/tickety-tick/ciakolhgmfijpjbpcofoalfjiladihbg

— as per https://github.com/bitcrowd/tickety-tick/pull/236#pullrequestreview-404809757

[2020-05-04 09:06] #232 closed

[2020-05-06 08:05] #233 closed

[2020-05-06 10:10] klappradla commented on #178
Some work-in-progress notes on that:

Following up on a discussion I had with @pmeinhardt on https://github.com/bitcrowd/tickety-tick/issues/212, I quickly tried out [`np`](https://github.com/sindresorhus/np) introduced in #184 to automatically create Github releases. It works perfectly fine for that, but as expected does not support adding downloadable release artifacts 😞  _(people already wanted

[2020-05-06 13:03] bitboxer commented on #233
@pmeinhardt thanks for implementing this 🥳

[2020-05-07 09:43] #212 closed

[2020-05-11 08:17] #210 closed

[2020-06-26 08:50] juffel opened #254 "Markdown link export feature"
It would be really handy to export a named link for pasting into markdown with one click:

[code]

[2020-07-01 08:03] klappradla opened #255 "Fix version number for local Chrome releases"
The Github-release workflow sketched out in #249 uploads a bundled Chrome release to Github. The contents of this archive are intended for "local" installations in Chrome.

Due to Mozilla not allowing us to sign the same version as "listed" and "unlisted" in Firefox Add Ons, we appended an `unlisted` string to the version name. Unfortunately this makes the version name then incompatible with Chrom

[2020-07-01 08:10] klappradla opened #256 "Update the list of permissions"
When releasing to the Chrome Web Store, we need to give good arguments for all the [permissions](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/permissions) the extensions needs. They are listed in the `manifest.json`:

[code]

From a first look, it seems we for instance don't need access to "read" the clipboard.

Please verify this list and if possible remove

[2020-07-01 08:14] klappradla commented on #237
What's left to do here:

- [ ] update screenshots in Chrome Web Store
- [ ] update description and metadata in Chrome Web Store (hasn't been visited for some time 🕸)
- [ ] update screenshots in Mozilla Add Ons
- [ ] update description and metadata in Mozilla Add ons

[2020-07-01 08:23] pmeinhardt opened #257 "Fix "back" chevron color"
The chevron in the "back" button is black rather than the same color as the text:

![screenshot](https://user-images.githubusercontent.com/706519/86220884-bc1ef500-bb73-11ea-9b56-5d5df28e6580.png)

[2020-08-01 18:56] pmeinhardt commented on #257
This seems to only be an issue in Firefox.

[2020-08-01 19:10] pmeinhardt opened #261 "Support "dark mode""
It'd be cool to make the Tickety-Tick popup and preference page aware of what the browser/OS color scheme preference is and to adjust the background and text colors.

This could possibly achieved through the [`prefers-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) CSS media feature.

[2020-08-01 19:26] pmeinhardt commented on #214
Hi @kajatiger, are you still experiencing this issue with the latest version?

[2020-08-03 07:33] kajatiger commented on #214
No, actually it is fixed! Thank you for the latest version 💖

[2020-08-03 07:33] #214 closed

[2020-08-03 07:45] pmeinhardt commented on #214
Sweet! Thanks a lot for your feedback @kajatiger. 💚

[2020-08-03 08:01] #256 closed

[2020-08-03 08:18] #257 closed

[2020-08-03 11:06] SaturnFromTitan opened #266 "Line breaks in command"
Hi all, thanks for the handy utility - I love it and use it on all my projects :)

Nowadays, when I have a GitHub issue with a longish title, the auto-generated commit message contains unnecessary line breaks and "..."'s.

For instance for the issue:
`"Send docusign error messages to the frontend" #3043`

tickety-tick creates the following command:
[code]

This didn't happen in earlier versions.

[2020-08-03 13:28] klappradla commented on #266
Hey @SaturnFromTitan 👋

Happy to hear you use and like the extension 💚

What you are describing happens due to `Tickety-Tick`'s [autoformatting](https://github.com/bitcrowd/tickety-tick#auto-formatting-of-commit-messages) for commit messages. The format is based upon Tim Pope's suggestions in his famous [note about commit messages](https://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.h

[2020-08-03 13:28] #266 closed

[2020-08-05 08:25] #261 closed

[2020-08-05 08:32] pmeinhardt opened #267 "Release 4.1.0"
Here is an overview of the commits:
https://github.com/bitcrowd/tickety-tick/compare/v4.0.1...main

Release instructions:
https://github.com/bitcrowd/tickety-tick#releasing-a-new-version

[2020-08-05 12:53] andreasknoepfle opened #268 "Drop `#` in the defaults and rather add it to the adapters"
I have lately seen that people use Tickety-tick with JIRA a lot with the commit configuration:

[code]

rather than
[code]

This is because unlike github and gitlab, where issue link start with `#` in JIRA usually tickets start with a code like `ABC-{number}`. With the default setting, we are adding a `#` to commit names like this in JIRA [#ABC-123].

Sadly enough I noticed, that this breaks some

[2020-08-05 13:43] pmeinhardt commented on #268
What about we adjust the default template to drop the `#` from the subject line, but add `Closes #{id}.` in the commit message body for GitHub to automate closing of issues?

What do those other tools you mentioned look for? 🤔

Overall this looks like it'll be a breaking change and will require a major version bump. So although it's a tiny code change we might want to think about how to handle thi

[2020-08-05 14:14] andreasknoepfle commented on #268
It seems that the gitlab-jira integration (built into gitlab) is fine with `[EW-123]` but breaks with `[#EW-123]` for example. As I said, the other tool is a custom made deployer tool of one of our former clients that are also actively using tickety-tick (👋 liefery) which still has the assumption JIRA tickets look like `[SOME-123]` instead of `[#SOME-123]` since old (ancient) versions of tickety t

[2020-08-05 14:39] pmeinhardt commented on #268
Yeah 🤔 but making the `#` part of the ticket ID also feels wrong (we use it for other purposes where the `#` wouldn't work).

We could have a `reference` filter in the templates that formats the ID based on the adapter that produced the ticket and adds a `#` if it's `github` but it seems like a fair bit of additional complexity (the required information isn't currently added to the ticket).

We co

[2020-08-10 07:45] pmeinhardt opened #269 "Check whether we can further reduce required permissions"
Publishing on the Chrome web store, I received this hint:

![notification](https://user-images.githubusercontent.com/706519/89761169-5e1fee80-dadd-11ea-9c17-1d1b9f923c97.png)

Let's check whether we can further restrict the permissions we currently request in the `manifest.json`.

[2020-08-10 08:10] pmeinhardt commented on #267
- https://github.com/bitcrowd/tickety-tick/releases/tag/v4.1.0
- https://chrome.google.com/webstore/detail/tickety-tick/ciakolhgmfijpjbpcofoalfjiladihbg
- https://addons.mozilla.org/en-US/firefox/addon/tickety-tick/

[2020-08-10 08:10] #267 closed

[2020-09-01 10:28] klappradla commented on #269
`activeTab` instead of the current `tabs` sounds promising 👀

[2020-09-29 12:33] Taig opened #270 "GitLab integration is broken"
Hey bitcrowd 👋

Looks like GitLab removed the `js-issuable-app-initial-data` id from the issue page causing tickety-tick to fail with the error below:

Tickety-Tick revision: fda1749a21ac75aa115d6245fac21e63570b16c3

[code]

[2020-09-29 12:36] Taig commented on #270
From what I see in the GitLab page source it might be sufficient to change `js-issuable-app-initial-data` to `js-issuable-app`

[2020-09-30 09:01] klappradla commented on #270
Many thanks for reaching out @Taig 💚

Are you experiencing this on `gitlab.com` or on a self-hosted instance?

Also a huge thanks for already suggesting a potential solution 👏. Would you be up for packaging this into a PR? We're always here for support on this of course 🤜 🤛

Tiny disclaimer: we need to support both, `gitlab.com` as well as self hosted versions. So it may be necessary to stay "back

[2020-09-30 20:24] Taig commented on #270
I'll submit a PR in the next days. I don't know much about JS, but the README looks helpful enough for me to squeeze out a minor fix 🙏

[2020-10-06 14:21] #270 closed

[2020-10-09 11:30] klappradla commented on #270
**FYI** @Taig 👋, I just released a new version of the extension _(in fact two because Mozilla had an issue with the first...)_ and it should be hitting your browser soonish 🤞

If you don't want to wait, you can grab the release directly from [releases](https://github.com/bitcrowd/tickety-tick/releases). There's a self signed version for Firefox and a `zip` file for Chrome.

Thanks again for you co

[2020-10-09 14:48] Taig commented on #270
Thank you very much, can't wait for the update ☺️

[2020-10-25 18:52] pmeinhardt commented on #237
I updated the screenshots a while back and (slightly) tweaked the descriptions (removed Pivotal from support ticket systems etc.). I'll close this for now, but feel free to take another look and re-open if further adjustments are needed.

[2020-10-25 18:52] #237 closed

[2020-11-18 22:16] pmeinhardt opened #275 "Try and publish for new Safari"
Apparently Apple is finally bringing the standardized WebExtensions API to Safari, which means Safari users should be able to use Tickety-Tick (without us creating a special Safari App Extension implementation). 🙌

From the Apple macOS Big Sur feature overview:

<img src="https://user-images.githubusercontent.com/706519/99594504-2b926580-29eb-11eb-863b-d5fbd069c3ba.png" width="50%" alt="screenshot

[2020-11-19 09:06] klappradla commented on #275
Oh, looks very promising 👀

Some links:
- Apple's news update from where to dive into the docs: https://developer.apple.com/news/?id=kuswih5l
- Apple's docs on web extensions: https://developer.apple.com/documentation/safariservices/safari_web_extensions

Curious on how hard / easy it is to release those extensions though. Let's see 🤞

[2020-11-25 19:54] pmeinhardt commented on #275
Notes:

1. Build the extension: `yarn build:chrome`
2. Convert for Safari: `xcrun safari-web-extension-converter dist/chrome`, as per https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari
3. In Safari's "Develop" menu, enable "Allow unsigned extensions" (https://developer.apple.com/documentation/safariservices/safari_app_extensions/bui

[2020-12-09 08:36] klappradla opened #279 "Switch to public Notion API"
I just came across [this tweet](https://twitter.com/NotionHQ/status/1336375721757851649?s=20) announcing the [public API](https://www.notion.so/api-beta) for notion.so.

As long as it is in private beta, there is no point for Tickety Tick to switch to it. But once it's out, we could stabilize our notion.so adapter by switching to it.

[2021-01-13 20:49] #275 closed

[2021-02-10 16:29] maltoe opened #284 "URL for Github issues"
👋  Any reason why we don't extract URLs from github issues?

Same question applies for description, though I can see that it depends on the stability of the markup involved..

[2021-02-12 07:22] #269 closed

[2021-02-12 07:23] pmeinhardt commented on #284
No reason, just that we haven't taken the time to implement it yet. 🙂👌

[2021-02-12 07:33] #284 closed

[2021-03-02 08:53] klappradla opened #289 "Support Github Advisiory database"
[Dependabot](https://dependabot.com/) is a nice robot, but sometimes the situation / dependencies are just too deeply wrangled into each other to update something without a human pair of eyes on the situation. I personally then usually draft a PR based on the information for Github's [advisory database](https://github.com/advisories) 🚜

Taking for instance [GHSA-8hc4-xxm3-5ppp](https://github.com/

[2021-03-02 13:23] pmeinhardt commented on #289
I've never had this specific case, but then usually - if there is a CVE in one of the packages we use in a project - I usually just create a more general "Update package dependencies" PR. if people (you) are missing this feature though and the advisory pages are somewhat stable (which I guess they are by now), then I don't see why we shouldn't support it if anybody wants to whip up a PR. 🙂

[2021-03-03 08:59] klappradla commented on #289
Thought about it and potential use cases a bit more (I simply dumped it here as a wild idea). I'd now say it's a too narrow/edgy use case not worth opening the scope of Tickety Tick to things different than actual "tickets".

Your point about creating a separate ticket for updating dependencies kinda made the "click": it's pretty rare that something can be patched by updating a **single** dependen

[2021-03-03 08:59] #289 closed

[2021-04-15 13:45] maltoe opened #291 "Convert Jira markup to markdown"
👋  I would really like to be able to take the description from Jira tickets and copy it to commit messages.

[2021-04-19 20:36] pmeinhardt commented on #291
Did some quick research 🔎  and some more digging in my 🧠…

**Atlassian markup format**

There's some more information on the Jira markup syntax here:
https://jira.atlassian.com/secure/WikiRendererHelpAction.jspa?section=all

Not a formal specification, but I hope this gives a good overview of the syntax.

**Get fields as HTML from API**

There could be another pointer here:
https://docs.atlassian.

[2021-04-20 07:53] klappradla commented on #291
Briefly looked into this topic yesterday as well. I think the HTML -> Markdown is a very promising approach 👍

[2021-04-21 06:22] pmeinhardt commented on #291
Looks like [`showndown`](https://github.com/showdownjs/showdown) can convert HTML to markdown:
https://github.com/showdownjs/showdown/blob/1.9.1/src/converter.js#L346-L352

Gave it a quick try.

Grab the HTML description from the rendered fields:
`https://<workspace>.atlassian.net/rest/api/latest/issue/<issue-id>?expand=renderedFields`

Install showdown:

[code]

Then, in `node`:

[code]

Already

[2021-04-21 06:24] pmeinhardt commented on #291
What if we just convert to plain-text though @maltoe and @klappradla?

[code]

This seems to work well.

_In Tickety-Tick itself we wouldn't need JSDOM (we're already in a browser context). This is just so you can run examples in a Node.js REPL._

[2021-04-21 07:55] klappradla commented on #291
I'd personally actually be in favor of that 👍. It make less assumptions about the workflows of people.

[2021-04-28 21:53] pmeinhardt opened #297 "Live-preview on settings-page currently broken"
For some reason the passed-in templates are not taken into account by the formatting functions created by `tickety-tick-formatter`. 🤔

cc @klappradla

[2021-05-04 12:04] #297 closed

[2021-08-11 07:53] klappradla opened #311 "Mozilla Add-ons manifest v3"
Check [Manifest v3 update](https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update) whether we need to update the extension manifest.

[2021-09-16 21:54] pmeinhardt opened #316 "Improvements"
- See what build packages we can get rid of after [switch to TypeScript](https://github.com/bitcrowd/tickety-tick/pull/314) (e.g. Babel packages?)
- Use `random` helper (e.g. based on [chancejs](https://github.com/chancejs/chancejs)) to create test data
- Switch over to [testing library](https://testing-library.com/)

[2021-10-12 18:57] klappradla opened #325 "Release 5.0"

[2021-10-16 23:16] pmeinhardt commented on #291
Okay, I think I've found the way forward:

1. Use API `v3` when fetching issue details
    - This will use the new [*Atlassian Document Format (ADF)*](https://developer.atlassian.com/cloud/jira/platform/apis/document/structure/) to return fields containing markup
    - https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issues/#api-rest-api-3-issue-issueidorkey-get
2. Transform A

[2021-10-22 13:01] andreasknoepfle opened #327 "Classic JIRA boards have a new URL"
Classic JIRA boards used to have this URL:
`https://my-subdomain.atlassian.net/projects/tt/boards/7/backlog?selectedissue=${key}`

Now they look like this:
`https://my-subdomain.atlassian.net/jira/software/c/projects/tt/boards/7/backlog?selectedissue=${key}`

We should release a new adapter version.

[2021-10-22 13:25] #327 closed, assigned to andreasknoepfle, agatheblues

[2021-11-30 15:38] andreasknoepfle opened #331 "Chrome setting screen is growing forever"
![foo](https://user-images.githubusercontent.com/239398/144078378-e152aa94-2eb0-4128-91de-8972558a6837.gif)

[2022-01-26 10:32] #291 closed

[2022-02-10 09:18] klappradla commented on #185
Did you come up with a solution for your workflow @bitboxer?

That's probably worth a try and closest to having separate "desks" for each client / project?

I guess nobody here has strong enough needs to actually get into the topic themselves. I'll close this for now, feel free to re-open if the problem keeps bugging you and you maybe have some suggestions on how to fix it? 🦄

[2022-02-10 09:18] #185 closed

[2022-02-10 09:23] klappradla commented on #254
I think dealing with the platform (Github, Gitlab, etc.) is beyond the scope of the extension. It's conceptualized as a link between your issue tracker and `git` as the CLI tool. So adding new buttons to extend the scope could weaken the idea of the extension.

For now, what works really well: add a link with that format to your template (e.g. for the commit message subject). Most platforms (Githu

[2022-02-10 09:23] #254 closed

[2022-02-10 10:31] klappradla commented on #331
Turns out the `vw-100` class on the `<body>` tag within our `options.html` makes Chrome increase the `--dialog-width` on the popup forever:

![chrome](https://user-images.githubusercontent.com/3491815/153388497-02ea971d-66e3-4a5c-b817-3fb76a0136b3.gif)

However, just removing the class is also not an ideal solution: the popup will be too big for smaller screens and people won't be able to reach th

[2022-02-10 13:37] bitboxer commented on #185
I never came up with one that didn't involve me to hand tweak the branch names/commit messages. Currently, I am only working for one client and that problem is gone.

[2022-02-22 09:16] klappradla commented on #159
Another person requested this: https://github.com/syntax-tree/mdast/pull/40#issuecomment-1047578714 📌

[2022-03-07 15:08] klappradla opened #337 "Update terminal notification setup"
As it turned out in https://github.com/bitcrowd/tickety-tick/pull/336, the `webpack-build-notifier` package we're using in development isn't compatible with Apple's new M1 architecture and probably won't in the near future. See [this issue](https://github.com/RoccoC/webpack-build-notifier/issues/63) for some background on this.

How should we proceed on this:
1. Find an alternative more future-pro

[2022-03-10 11:24] klappradla commented on #159
Plan of attack: run a script to show the core features.

Record using `kap.app` (it has a plugin to show keys pressed). We may need to edit the result to remove gaps.

[2022-03-10 13:32] klappradla opened #339 "Watch task not working for CSS changes"
During the hacking session on #338 , it seemed like the `watch` task was not listening for changes in the CSS files ⚠️

We should verify whether this is really the case and then fix it 🔨

[2022-03-10 13:54] #331 closed

[2022-04-25 14:04] pmeinhardt commented on #337
I suppose one could try to conditionally disable the plugin on Apple Silicon - possibly using Node.js' [`os.arch()`](https://nodejs.org/docs/latest-v16.x/api/all.html#all_os_osarch) or [`process.arch`](https://nodejs.org/docs/latest-v16.x/api/all.html#all_process_processarch) – but at that point I'd be leaning towards removing the dependency. 🙂

[2022-04-27 08:43] tessi commented on #337
to be honest, I have no idea what the error is about or where it's triggered. But I have an M1 mac at hand and could test whatever you want me to test :)

[2022-04-27 12:59] klappradla commented on #337
Thanks @pmeinhardt & @tessi 💚

I also have an M1 and could test it there. But I prefer to have the setup run quick and friction-less for anyone looking to contribute. The extra complexity and respective maintenance effort just for the sake of the build notification does not feel worth the effort to me. The time would be better spend speeding up the build itself 😉

Therefore going with simply remov

[2022-04-27 14:33] klappradla commented on #159
Made a tiny attempt 🍿

![tt-demo-small](https://user-images.githubusercontent.com/3491815/165542748-badc6687-2255-4a98-9d0e-458e8043fbbd.gif)

[2022-04-28 07:08] #337 closed

[2022-04-29 08:03] #159 closed

[2022-04-29 08:36] klappradla commented on #325
Done in https://github.com/bitcrowd/tickety-tick/releases/tag/v5.0.0 ✅

[2022-04-29 08:36] #325 closed

[2022-05-24 14:26] RKushnir opened #345 "No longer works with Jira since the last few weeks"
Hi,

I'm afraid I can't use the add-on with Jira anymore. Neither from the board page, nor from the individual ticket page. I get the "Houston, we have a problem." message. Please, let me know if I can provide any more details for debugging.

Thank you for this add-on, it saved me a lot of time and typing.

Tickety-Tick revision: 8714b5142d40c0c2d5f2a51bf867f2702463ed25

[code]

[2022-05-25 17:05] RKushnir commented on #345
@pmeinhardt Thank you for the quick reply.

I can at least answer to the last point, it is an on-premise installation at [jira.kloeckner-i.com](https://jira.kloeckner-i.com).

[2022-05-25 18:08] RKushnir commented on #345
I took this chance to try to debug a browser extension for the first time ever 👶

There is a request to `https://jira.kloeckner-i.com/rest/api/3/issue/PROJ-1234`, which results in a 404 response. Now I suspect the fault could be in our Jira configuration. Maybe the admins have disabled or restricted access to the API. In which case there is no way you can help me.

Also, I became curious which API

[2022-05-25 18:08] #345 closed, assigned to nobody

[2022-08-03 14:23] agatheblues opened #348 "Error: unsupported node type "expand""
💥  The extension is broken when the jira ticket description contains "expand" blocks:

![image](https://user-images.githubusercontent.com/11474942/182632569-28b214f6-5e6b-49d7-a82f-2e918771794b.png)

Tickety-Tick revision: 8714b5142d40c0c2d5f2a51bf867f2702463ed25

[code]

Happened on Firefox 103.0

[2022-08-27 12:44] pmeinhardt commented on #348
This’ll require an update to https://github.com/bitcrowd/mdast-util-from-adf, adding support for this node type (as suggested in the error message). I didn’t know expand nodes were a thing in Jira tickets before. 💡

I am still on a bike trip, away from my computer, so I won’t be fixing this before I get back home in about 2 weeks maybe. I am hoping the pointer might help you out though. ❤️

Feel f

[2022-09-09 12:36] pmeinhardt commented on #348
Here's an example document you can throw at Atlassian's [document viewer](https://developer.atlassian.com/cloud/jira/platform/apis/document/viewer/):

[code]

I derived the structure and required attributes from the current (v24.0.0) [ADF JSON schema](https://unpkg.com/@atlaskit/adf-schema@24.0.0/dist/json-schema/v1/full.json).

The Atlassian viewer renders this with a toggle `<button>` expanding/

[2022-09-09 12:37] pmeinhardt commented on #348
I'll take a look at updating the [mdast-util-from-adf](https://github.com/bitcrowd/mdast-util-from-adf) package. ✌️

[2022-10-07 15:16] tiagotex opened #349 "No longer working with Jira Server"
The newly released version updated the Jira adapter to depend on API `3` instead of `latest`. https://github.com/bitcrowd/tickety-tick/pull/326/

This is a problem because API v3 is only available for Jira Cloud, Jira Server only has v2.

https://community.atlassian.com/t5/Jira-questions/When-will-Jira-Server-support-REST-API-v3/qaq-p/1303614
https://jira.atlassian.com/browse/JRASERVER-70688

Woul

[2022-10-07 16:33] RKushnir commented on #349
Hey Tiago 🤗 I no longer need to use that Jira instance, so it doesn't bother me anymore. But I hope you can figure it out.

[2022-10-07 19:18] tiagotex commented on #349
Created some instructions to use previous version of the extension on Chrome while this is addressed:

[code]

[2022-10-10 08:21] klappradla commented on #349
Hey @tiagotex,

thanks for reporting 💚

From what I remember, Atlassian only from API v3 on supports serving ticket descriptions in their proprietary ADF format (rich text document format). And our updated JIra adapter relies on that format. So simply switching it back to `/latest` probably won't be enough.

We need a moment to think about a good way to support both systems (unfortunately I don't

[2022-10-10 08:23] klappradla commented on #349
For people using TicketyTick in Firefox who want to go back to an earlier version which still uses Jira's v2 API: you can download a standalone release from [v4.1.2](https://github.com/bitcrowd/tickety-tick/releases/tag/v4.1.2). Simply delete the extension from your browser and install the downloaded one 🦊

[2022-10-10 08:30] klappradla commented on #349
Note to self: see https://github.com/bitcrowd/tickety-tick/issues/345 for the actual error message (404).

[2022-10-10 11:19] klappradla commented on #348
Seems like the package where `mdast-util-from-adf` gets its definitions from also has recent updates: https://www.npmjs.com/package/@atlaskit/adf-schema

I cannot reach their bitbucket repository though 🙈

[2022-10-11 07:18] pmeinhardt commented on #348
You can browse the source (including a changelog) here:
https://unpkg.com/browse/@atlaskit/adf-schema@24.0.1/

PS: Sorry, I did not find enough time and motivation yet to update `mdast-util-from-adf`. I've investigated though and after [jotting down my findings](https://github.com/bitcrowd/mdast-util-from-adf/issues/25#issuecomment-1274195713) I am thinking we might just not represent `expand` nod

[2022-10-11 07:53] klappradla commented on #348
No worries @pmeinhardt 🤗

As the adapter is also broken for Jira server instances (see #349), my current plan of attack would be to release a "fix" version which does not include ADF to `.md` and then release a "fix all Jiras" later. Asking users to go back to previous versions is a bit too much with browser extensions 😉

[2022-10-11 11:30] pmeinhardt commented on #349
What if Tickety Tick just attempts the current approach and – if that fails – makes another attempt, this time using the old v3 behavior?

Here is a quick sketch:

1. Rename the current adapter from `jira.ts` to `jira-v3.ts`
2. Create a `jira-v2.ts` from the old behavior
3. Create a new `jira.ts` which wraps v3 in a `try` and invokes v2 in the `catch` block

[2022-10-11 12:21] pmeinhardt commented on #349
One aspect to think about some more with regard to my suggestion above is error reporting. In particular, v2 should only be attempted if the v3 API request fails but not if an error occurs while processing an actual v3 API response. So maybe the high-level composition above is not ideal – or at least we should only `catch` any `HTTPError` instances thrown by the API client (https://github.com/sind

[2022-10-11 12:23] klappradla commented on #349
Oh @pmeinhardt 💚

I wrote pretty much the same in Slack yesterday 😂

I'd have gone with `JiraServer` and `JiraCloud` as adapter names, since these two apparently drift apart a bit.

[2022-10-20 09:45] #348 closed

[2022-10-21 13:09] #349 closed

[2022-10-24 08:30] klappradla opened #359 "Combine Jira adapters"
While working on #349 we split out the Jira adapter into two separate adapters, `jira-server` and `jira-cloud` in https://github.com/bitcrowd/tickety-tick/pull/354. However, due to tickety-tick going through all adapter for a page **concurrently** and the deciding factor for the `jira-server` adapter also works for Jira cloud, we can't guarantee that the `jira-server` adapter will only apply for J

[2022-10-24 08:33] klappradla opened #360 "Check Safari build setup"
There seems to be an issue with the Safari build at the moment. Double check the setup, scripts and instructions. See [this comment](https://github.com/bitcrowd/tickety-tick/pull/352#issuecomment-1288543516) from @agatheblues.

[2022-10-24 15:10] andreasknoepfle commented on #359
Hmm, we could also simply exclude the server adapter from any `atlassian.net` domain 🤷
After all it felt not too bad to separate them, since they all have their own complexity (the cloud adapter needs to handle the markdown content but does not care about nested server paths e.g.)
I also think like the cloud adapter could live with a way easier regex that the one it has now etc.

[2022-10-25 07:28] klappradla commented on #359
Also an option @andreasknoepfle 👍

I just put down the current state of the discussion in the issue. Didn't want to exclude any other options.

[2022-11-15 08:18] bitboxer opened #362 "expose notion page url"
The notion ticket id is a sad guid. I would love to be able to write a template that creates a markdown link to the ticket. Sadly the url is not available in the template.

[2022-11-17 08:29] klappradla commented on #362
Nice to know someone is using the notion adapter 🤗

I don't remember why I did not include the URL back then - maybe the templates weren't as sophisticated as they're now and we did not update the adapter to fit it.

Feel free to open a PR with the update if you need it right away @bitboxer. It will take a bit of time until I come around to do it myself. But it's definitely something to be done 👍